Repository metatron-app/metatron-discovery, pull requests merged in 2018-09, with the labels that each got.

#104 #103 skip commented query
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench, bug, testbed3

#78 F#20 fail to download data
  discovery-frontend/src/app/common/component/data-download/data.download.component.html
  discovery-frontend/src/app/common/component/data-download/data.download.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/text-widget-panel.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/dashboard/filters/bound-filter/bound-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-update.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/service/widget.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/filter.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/time-filter.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/page/filter/filter-panel.component.ts
  discovery-frontend/src/app/page/page-pivot/popup-value-alias.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/forward/ResultForward.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/ExpressionField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/ParameterField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/UserDefinedField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/resources/sql/test_download_excel.sql
Labels: @dashboard, testbed2

#109 F#36 save on hdfs first
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepHdfsService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, testbed3

#123 #66 build RevisionSet before snapshot generation
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, bug

#129 F#55 add window functions on data preparation
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/RuleVisitorParser.java
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/BuiltinFunctions.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfWindow.java
Labels: @dataprep, enhancement

#130 F#121 check hive naming rule
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, enhancement

#128 F#116 improve waterfal chart
  discovery-frontend/.angular-cli.json
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/type/waterfall-chart/waterfall-chart.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/embedded/dashboard/presentation-dashboard.component.ts
  discovery-frontend/src/lib/echart_4_1/dataTool.min.js
  discovery-frontend/src/lib/echart_4_1/echarts-wordcloud.min.js
  discovery-frontend/src/lib/echart_4_1/echarts.min.js
  discovery-frontend/src/lib/echart_4_1/theme/exntu.js
Labels: @dashboard, testbed1

#131 Fix the character encoding of downloaded file
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetController.java
Labels: @dashboard, enhancement, testbed4

#132 F#102 heatmap not rendered
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/page/chart-style/datalabel-option.component.ts
  discovery-server/src/main/java/app/metatron/discovery/common/MatrixResponse.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @dashboard, bug, testbed1

#127 F#87 two depth chart selection
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/type/boxplot-chart/boxplot-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/gauge-chart/gauge-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/heatmap-chart/heatmap-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/network-chart/network-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/sankey-chart/sankey-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/scatter-chart/scatter-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/waterfall-chart/waterfall-chart.component.ts
  discovery-frontend/src/app/common/component/select/select.component.html
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: testbed3

#137 #102 escape unexpected value in query result from druid
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/PivotResultFormat.java
Labels: @dashboard, testbed2

#136 F#14 improve data connection
  discovery-frontend/src/app/common/component/paging-search-select/paging-search-select.component.html
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/create-data-connection/create-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/update-data-connection/update-connection.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-ingestion-permission/db-ingestion-permission.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-select-data/db-select-data.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-set-data-connection/db-set-data-connection.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/druid-create-component/druid-select/druid-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-ingestion/file-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/file-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-ingestion/staging-db-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-select-data/staging-db-select-data.component.html
  discovery-frontend/src/app/meta-data-management/code-table/create-code-table/create-code-table.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/complete-create-metadata.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/ds-select-datasource.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/hive-select-schema.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/hive-set-connection.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/staging-select-schema.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.html
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnection.java
Labels: @datasource, testbed1

#141 F#140 data preparation function minor changes
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/BuiltinFunctions.java
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/Expr.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfWindow.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep

#145 #144 bug fix - Dashboard loading bar is not hidden
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/embedded/dashboard/presentation-dashboard.component.ts
Labels: @dashboard, bug, testbed1

#154 #143 change css in connection
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/create-data-connection/create-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/update-data-connection/update-connection.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-set-data-connection/db-set-data-connection.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/hive-set-connection.component.html
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @datasource, testbed2

#157 #148 Fix percentile menu bug
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed1

#178 #153 The sorting method of the filter is initialized without saving
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/inclusion-filter.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/InclusionFilter.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/filter/InclusionFilterTest.java
Labels: @dashboard, bug, testbed1

#176 F#171 metadata detail description linebreak
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-information.component.ts
Labels: @metadata, testbed4

#183 F#89 allow every rule to be manipulated
  discovery-frontend/src/app/common/util/string.util.ts
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-aggregate.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-derive.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-derive.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-merge.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-merge.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-nest.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-nest.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-pivot.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-rename.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-rename.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-replace.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-replace.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-set.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/rule-condition-input.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/rule-condition-input.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/extend-input-formula.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-list.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-list.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/union-add-datasets/union-add-datasets.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/service/dataflow.service.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/domain/data-preparation/dataset.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDataflowController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDataflowEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/Revision.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepHistogramRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformResponse.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, enhancement, testbed3

#195 #190 fix parameter when row condition is blank
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-set.component.ts
Labels: @dataprep

#193 #162 fix table header
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.html
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @metadata, testbed1

#208 #166 metadata information is incorrect on data source when creating dashboard
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.ts
Labels: @dashboard, testbed4

#203 F#58 incorrect color gradation
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/converter/common-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/define/common.ts
  discovery-frontend/src/app/common/component/chart/option/util/option-generator.ts
  discovery-frontend/src/app/common/component/chart/type/gauge-chart/gauge-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/heatmap-chart/heatmap-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/treemap-chart/treemap-chart.component.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dashboard, testbed3

#180 #151 Loading image error when saving after changing column of shelf in copied widget
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/service/widget.service.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @dashboard, testbed2

#206 #48 Errors of disappearing summary areas and deletion errors in the workspace
  discovery-frontend/src/app/workspace/workspace.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogTreeService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/BookTreeService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workspace/BookRestIntegrationTest.java
Labels: @dashboard, testbed1

#229 F#65 When I change crossing point value of area-line chart, measure based color distribution doesn't work
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
Labels: testbed1

#230 #227 Fix error chart name initialize
  discovery-frontend/src/app/page/page.component.ts
Labels: testbed2

#238 #215 An error that caused the label to be incorrect when the filter value is uploaded to the widget
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
Labels: testbed4

#239 #218 escape column name with regular expression character
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: testbed5

#242 #233 change property in metadata create from linked type source
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/complete-create-metadata.component.ts
Labels: testbed4

#220 F#112 workbench result tab bug
  discovery-frontend/src/app/common/component/grid/grid.component.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed5

#236 #196 Improve usability of the dashboard's time filter widget
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.html
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dashboard, testbed1

#257 #211 delete etc in logical type
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.html
Labels: @metadata, testbed2

#259 F#202 add action in stream
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-complete.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/filters/component/timeUnit-select.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/notebook/notebook.component.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/app/workspace/workspace.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/activities/ActivityStream.java
  discovery-server/src/main/java/app/metatron/discovery/domain/activities/spec/ActivityType.java
Labels: @common, testbed5

#258 F#182 batch datasource query error
  discovery-frontend/src/app/common/directive/input-mask.directive.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-ingestion-permission/db-ingestion-permission.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-ingestion-permission/db-ingestion-permission.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/config/SchedulingConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/ingestion/IncrementalIngestionJob.java
Labels: @datasource, testbed5

#219 #114 sql beautifier update (case when then statement)
  discovery-frontend/src/app/workbench/component/editor-workbench/codemirror.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed1

#268 #254 all line starts with '--' is isComment=true.
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench, testbed2

#269 #106 gauge chart gradient incorrect
  discovery-frontend/src/app/common/component/chart/type/gauge-chart/gauge-chart.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-complete.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/domain/dashboard/dashboard.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed3

#274 #149 fix incorrect gradient color in grid
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/define/common.ts
  discovery-frontend/src/app/common/component/chart/type/grid-chart/grid-chart.component.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @dashboard, testbed1

#272 F#35 improve specifying ingestion
  discovery-frontend/src/app/common/component/period/period.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/advanced-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/advanced-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-ingestion-permission/db-ingestion-permission.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-ingestion-permission/db-ingestion-permission.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-ingestion/file-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-ingestion/file-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-ingestion/staging-db-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-ingestion/staging-db-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-storage.module.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionOption.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionOptionPredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionOptionProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionOptionRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/jdbc/LinkIngestionInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/BulkLoadSpec.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/BulkLoadSpecBuilder.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/scripts/default_datasource_ingestion_options.sql
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/engine/EngineLoadServiceTest.java
Labels: @datasource, testbed1

#282 F#198 change command when editing
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-settype.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-context-menu.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-list.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, testbed4

#285 #252 async api to upload file dataset
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileUploadAsyncConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileUploadService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetSparkHiveService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepHdfsService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepPreviewLineService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, testbed2

#234 #117 Searching column in multi-datasource is not work properly
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-relation.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-relation.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed5

#276 #216 Calculation field disappears when copying a dashboard that contains calculation fields
  discovery-frontend/src/app/common/util/common.util.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @dashboard, testbed2

#287 #212 Dashboard thumbnail does not appear in I.E browser
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/images/ImageController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/images/ImageRestIntegrationTest.java
  discovery-server/src/test/resources/sql/test_image.sql
Labels: @dashboard, testbed5

#271 #251 decimal places not working
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/axis-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/ui-option/ui-axis.ts
  discovery-frontend/src/app/common/component/chart/type/bar-chart/bar-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/combine-chart/combine-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/line-chart/line-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/network-chart/network-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/scatter-chart/scatter-chart.component.ts
  discovery-frontend/src/app/page/chart-style/axis-value-option.component.ts
Labels: @dashboard, testbed2

#279 F#261 metadata source api method change
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-desc/detail-workbench-table-info-desc.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
Labels: @workbench, testbed1

#286 #247 Workbench screen break at hive DB connection update
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-dataconnection-info/detail-workbench-dataconnection-info.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-desc/detail-workbench-table-info-desc.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-desc/detail-workbench-table-info-desc.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed3

#289 F#9 add recommendation filter
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/data-storage/component/schema-change-action/schema-change-action.component.html
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.ts
  discovery-frontend/src/app/data-storage/component/set-filter-order/set-filter-order.component.html
  discovery-frontend/src/app/data-storage/component/set-filter-order/set-filter-order.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/data-grid-data-source/data-grid-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/edit-filter-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/edit-filter-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-storage.module.ts
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/filter.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/CollectionPatch.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/jdbc/SelectQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeFilter.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SegmentMetaDataQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/TopNQueryBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
Labels: @dashboard, @datasource, testbed2

#293 #143 fix db type in connection
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.ts
Labels: @datasource, testbed2

#297 #296 fix color type script bug in pie chart
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
Labels: @chart, testbed4

#294 #227 fix animation bug when datasource is changed
  discovery-frontend/src/app/page/page-pivot/page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @chart, testbed3

#299 #221 Fix metadata tooltip error
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.ts
  discovery-frontend/src/app/page/page-data/page-data-context.component.html
  discovery-frontend/src/app/page/page-data/page-data-context.component.ts
Labels: @metadata, testbed2

#237 #37 improve grid chart
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
  discovery-frontend/src/lib/pivot-grid/pivot.view.css
Labels: @dashboard, testbed3

#301 #266 remove specific domain name
  discovery-frontend/proxy.conf.js
  discovery-frontend/src/app/domain/workbook/configurations/field/measure-field.ts
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLProperties.java
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLUserDetailsServiceImpl.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/MeasureField.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/samples/ingesion/sales_ingestion_spec_for_hdfs.json
  discovery-server/src/test/java/app/metatron/discovery/AbstractIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/AbstractRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/DataFrameTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/OrcTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/UnionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/DataConnectionRepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/DataConnectionRestInegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/HiveConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/HiveMetaStoreConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/MSSQLConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/OracleConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/PhoenixConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/PrestoConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/TiberoConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/QueryEditorServiceTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/util/WorkbenchDataSourceUtilsTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workspace/WorkspaceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/util/SshUtilsTest.java
  discovery-server/src/test/resources/ingestion/druid/druid_ingestion_hive_csv_spec.json
  discovery-server/src/test/resources/ingestion/druid/druid_ingestion_hive_orc_partition_spec.json
  discovery-server/src/test/resources/ingestion/druid/druid_ingestion_hive_orc_spec.json
  discovery-server/src/test/resources/sql/add_user.sql
  discovery-server/src/test/resources/sql/test_dataconnection.sql
  discovery-server/src/test/resources/sql/test_datalineage.sql
  discovery-server/src/test/resources/sql/test_default_configuration.sql
Labels: @common

#303 #302 close connection
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcCSVWriter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @datasource, @workbench, testbed2

#306 #305 schema browser selected table error update
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
Labels: @workbench, testbed2

#308 #307 fix custom color setting error in bar
  discovery-frontend/src/app/common/component/chart/base-chart.ts
Labels: @chart, testbed3

#300 #9 Fix linked dashboard error
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-complete.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.widget.header.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/widgets/text-widget/text-widget.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.html
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
Labels: @dashboard, testbed1

#311 #37 Fixed an error that summary line in landscape view
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed2
