Repository metatron-app/metatron-discovery, pull requests merged in 2018-10, with the labels that each got.

#327 #222 Fixed initialization error when deleting dashboard
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed4

#332 #262 fix error setting of initial value of operating panel
  discovery-frontend/src/app/page/chart-style/calrow-option.component.html
  discovery-frontend/src/app/page/chart-style/calrow-option.component.ts
Labels: @chart, testbed5

#352 #314 fix error where field list paging
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
Labels: @dashboard, testbed3

#350 #349 Remove unnecessary undo code and change condition of header rule…
  .gitignore
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed4

#336 #315 chart type ui is not visible
  discovery-frontend/src/app/page/page-pivot/page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart

#366 #346 No error message when the chart can not be loaded
  discovery-frontend/src/app/common/service/abstract.service.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
Labels: @dashboard

#372 F#365 display rule command in case of hangul typing
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
Labels: @dataprep, testbed3

#381 #362 Policy unification for number rounding
  discovery-frontend/package.json
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-info.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, bug, testbed2

#397 #357 fix dataset creation process design and layout
  discovery-frontend/src/app/data-preparation/data-preparation.module.ts
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow-name-desc.component.html
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow/create-dataflow-dataset/create-dataflow-dataset.component.html
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow/create-dataflow-dataset/create-dataflow-dataset.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow/create-dataflow-name/create-dataflow-name.component.html
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow/create-dataflow-name/create-dataflow-name.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow/create-dataflow.component.html
  discovery-frontend/src/app/data-preparation/dataflow/create-dataflow/create-dataflow.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/add-dataset.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-datatype.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-datatype.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select/create-dataset-db-select.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-staging-selectdata.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-staging-selectdata.component.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, testbed2

#393 #369 userinfo auth-type use AuthUtils.getAuthUserName() not connectio…
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchService.java
Labels: @workbench

#361 #355 KPI chart same pivot error
  discovery-frontend/src/app/common/component/chart/type/label-chart/label-chart.component.ts
  discovery-frontend/src/app/page/chart-style/common-option.component.ts
  discovery-frontend/src/app/page/chart-style/secondary-indicator.component.ts
Labels: @chart, testbed1

#404 #94 Need to improve tooltip of sankey diagram
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/converter/tooltip-option-converter.ts
  discovery-frontend/src/app/common/component/chart/type/sankey-chart/sankey-chart.component.ts
  discovery-frontend/src/app/page/chart-style/tooltip-option.component.html
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineQueryService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @chart, testbed4

#409 #407 workbench editor indent error
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed4

#406 #255 Network Diagram needed selection filter
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/type/network-chart/network-chart.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @chart, testbed2

#403 #396 fix advanced setting show flag
  discovery-frontend/src/app/data-storage/data-source-list/component/advanced-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/advanced-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
Labels: @datasource, testbed1

#413 #391 Displaying combo chart data is different from engine data
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/common/component/chart/type/bar-chart/bar-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/combine-chart/combine-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/line-chart/line-chart.component.ts
  discovery-frontend/src/app/page/chart-style/datalabel-option.component.ts
  discovery-frontend/src/app/page/chart-style/labelbase-option.component.ts
Labels: @chart, testbed2

#375 F#50 show progress workbench
  discovery-frontend/src/app/common/component/loading/loading.component.html
  discovery-frontend/src/app/common/component/loading/loading.component.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_query.png
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/HiveQueryLogThread.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/VerticesProgress.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchWebSocketController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/HiveQueryLogThreadTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/VerticesProgressTest.java
Labels: @workbench, testbed3

#428 F#330 hive timestamp mismatch
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/ColumnType.java
Labels: @dataprep, bug, testbed1

#419 #418 Changing chart options doesn’t apply to chart
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/type/network-chart/network-chart.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @chart, testbed2

#426 #421 fix common log ui
  discovery-frontend/src/app/app.component.html
  discovery-frontend/src/app/common/util/common.util.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-set-data-connection/db-set-data-connection.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @common, bug, testbed2

#425 #422 fix sorting popularity
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.ts
Labels: @metadata, bug, testbed3

#431 #430 The chart is drawn as it expands from the top left corner.
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed4

#433 #255 add Serializable interface
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/InclusionFilter.java
Labels: testbed5

#435 #415 Chart data panel alias name
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.html
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed1

#434 #432 Workbench query fail message not printed
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed2

#436 #400 fix error sending mail for sign up and resetting password
  discovery-server/src/main/java/app/metatron/discovery/common/Mailer.java
  discovery-server/src/main/java/app/metatron/discovery/common/MetatronProperties.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/templates/api/email/user_reset_password.html
  discovery-server/src/main/resources/templates/api/email/user_reset_password_by_admin.html
  discovery-server/src/main/resources/templates/api/email/user_signup_approved.html
  discovery-server/src/main/resources/templates/api/email/user_signup_approved_by_admin.html
  discovery-server/src/main/resources/templates/api/email/user_signup_denied.html
  discovery-server/src/main/resources/templates/api/email/user_signup_request.html
Labels: @common

#445 #444 Fix frontend build error
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.ts
Labels: @common

#448 #374 Add lag and lead functions
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfWindow.java
Labels: @dataprep, enhancement, testbed1

#439 F#228 row count and size in dataset detail
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-context-menu.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-list.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-list.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/dataflow-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/detail-dataset/dataset-detail.component.html
  discovery-frontend/src/app/data-preparation/dataset/detail-dataset/dataset-detail.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetJdbcService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetSparkHiveService.java
Labels: @dataprep, bug, testbed4

#456 #432 workbench fail message not printed
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @workbench, testbed2

#461 #459 Hive query result showed 'No data' update
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed3

#483 #469 Add contain() function in data prep
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/BuiltinFunctions.java
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/Expr.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
Labels: @dataprep, enhancement, testbed1

#487 #480 change excel library to another version using streaminng reader
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
Labels: @dataprep, bug, testbed5

#490 #462 query editor tab changeable during query execution
  discovery-frontend/src/app/common/component/loading/loading.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-database/detail-workbench-database.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-database/detail-workbench-database.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-desc/detail-workbench-table-info-desc.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-desc/detail-workbench-table-info-desc.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-schema/detail-workbench-table-info-schema.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/workbench-login/workbench-login.component.html
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/btn_sclose.png
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/HiveQueryLogThread.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryResult.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchWebSocketController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/util/WorkbenchDataSource.java
  discovery-server/src/main/java/app/metatron/discovery/util/WebSocketUtils.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/HiveQueryLogThreadTest.java
Labels: testbed3

#524 #518 tab delimiter string convert to character
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/HiveTableInformation.java
Labels: @datasource

#526 #298 add API for json flatten spec. and enable ingesting json local file.
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/file/FileFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/file/JsonFileFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineIngestionService.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/JsonFlattenField.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/JsonFlattenSpec.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/JsonParseSpec.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/spec/druid/ingestion/parser/JsonFlattenFieldTest.java
  discovery-server/src/test/java/app/metatron/discovery/spec/druid/ingestion/parser/JsonParseSpecTest.java
  discovery-server/src/test/resources/ingestion/sample_ingestion.json
Labels: testbed2

#532 F#429 preparation changes file upload api
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetController.java
Labels: @dataprep, enhancement, testbed2

#535 #506 remove HTML tag in confirm window
  discovery-frontend/src/app/common/util/common.util.ts
Labels: @workspace, testbed2

#539 #530 lower column names for Hive tables in ORC format
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
Labels: @dataprep, bug, testbed3

#527 F#480 Enhance Excel file loading process
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileUploadService.java
  discovery-server/src/main/java/app/metatron/discovery/util/ExcelProcessor.java
  discovery-server/src/main/java/app/metatron/discovery/util/PolarisUtils.java
Labels: @common, @dataprep, enhancement, testbed5

#493 #181 Datasource schema synchronization
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_buttons.png
  discovery-frontend/src/assets/images/icon_info3.png
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/engine/DataSourceCheckJob.java
  discovery-server/src/test/java/app/metatron/discovery/TestEngineIngestion.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/scheduling/engine/DataSourceCheckJobIntegrationTest.java
  discovery-server/src/test/resources/ingestion/sample_ingestion_extends.csv
  discovery-server/src/test/resources/sql/test_datasource_field.sql
Labels: @datasource, testbed1

#546 F#471 improve query result window usability
  discovery-frontend/src/app/domain/workbench/workbench.ts
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/btn_refresh.png
  discovery-frontend/src/assets/images/icon_fail.png
  discovery-frontend/src/assets/images/icon_page2.png
  discovery-frontend/src/assets/images/icon_query.png
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/HiveConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcDataConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/PrestoConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryResult.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryResultRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/util/PolarisUtils.java
Labels: @workbench

#554 #467 fix sort fail error
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
Labels: @dataprep, bug, testbed4

#557 #471 improve query result window usability
  discovery-frontend/proxy.conf.js
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench

#559 F#471 improve query result window usability
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/HiveQueryLogThread.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench, testbed3

#565 F#563 scrolling issue show end time
  discovery-frontend/src/app/common/service/abstract.service.ts
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @workbench, testbed3

#566 F#562 schema browser error sample data from presto
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed2

#551 F#516 support unix format datasource
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/data-storage/component/schema-change-action/schema-change-action.component.ts
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-select-data/db-select-data.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema/edit-config-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema/edit-config-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/data-grid-data-source/data-grid-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/edit-filter-data-source.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/domain/meta-data-management/column-dictionary.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata-column.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/common/GlobalObjectMapper.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/CandidateQueryRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/format/DateTimeFormatChecker.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/jdbc/SelectQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/TimestampField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeListFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRangeFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRelativeFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/CustomDateTimeFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/DefaultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/FieldFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/UnixTimeFormat.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/FieldTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/format/DateTimeFormatCheckerTest.java
  discovery-server/src/test/resources/ingestion/sample_ingestion_unix_timestamp.csv
Labels: @datasource, testbed5

#574 F#572 workbench error 0 result
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench, testbed3

#575 F#516 support unit time millis
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/UnixTimeFormat.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/FieldTest.java
  discovery-server/src/test/resources/ingestion/sample_ingestion_unix_timestamp_millis.csv
Labels: @datasource, testbed3

#582 #580 Change database name when database changes in schema browser
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
Labels: @workbench, testbed3

#591 #588 change columnName to columnLabel
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcCSVWriter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: @workbench, testbed2

#571 #550 set default name when creating dataset
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
Labels: @dataprep, enhancement, testbed4

#593 F#564 short histogram bar
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/scroll-loading-grid.component.ts
Labels: @dataprep, bug, testbed5

#596 Fix errors on replace and move rules in preparation
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfMove.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfReplace.java
Labels: @dataprep, bug, testbed2

#597 #583 fix tag in schema detail
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
Labels: @datasource, testbed1
