Repository metatron-app/metatron-discovery, pull requests merged in 2018-11, with the labels that each got.

#611 #609 Show notifications when browsing back
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/app/workbench/workbench.module.ts
Labels: @workbench, testbed1

#612 #608 Improved editor name automatic naming policy
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed2

#623 F#547 ingest with new line
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineIngestionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/BulkLoadSpec.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/BulkLoadSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/CsvStreamParser.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/Parser.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/StringParser.java
Labels: @datasource, testbed1

#615 #577 Small area of the search button of the workbench does not work
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed2

#635 #634 Can not click common settings of KPI charts
  discovery-frontend/src/app/page/chart-style/common-option.component.html
  discovery-frontend/src/app/page/chart-style/secondary-indicator.component.html
Labels: @chart, testbed1

#652 Make longValue function can cast boolean as 0 or 1
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/ExprEval.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
Labels: @dataprep, bug, testbed2

#649 #648 modify uri last path as snapshot name
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.html
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.ts
Labels: @dataprep, bug, testbed4

#662 DDL error when init with mySQL
  discovery-server/src/main/resources/schema-mysql.sql
Labels: @common

#656 #621 empty strings are not treated as missing values
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/Histogram.java
Labels: @dataprep, bug, testbed4

#650 #643 add link workspace logic in create datasource
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/druid-create-component/druid-select/druid-select.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
Labels: @datasource, testbed3

#673 F#569 dataset preview on demand
  discovery-frontend/src/app/data-preparation/dataflow/service/dataflow.service.ts
  discovery-frontend/src/app/data-preparation/dataset/detail-dataset/dataset-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepHdfsService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepPreviewLineService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, enhancement, testbed4

#604 #585 increase the size of the rule string field
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRule.java
Labels: @dataprep, enhancement

#636 #617 Map chart does not appear on dashboard preview
  discovery-frontend/package.json
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/common/service/image.service.ts
Labels: @dashboard

#680 #676 If the error message is long on the workbench, no scroll bar generated
  discovery-frontend/src/app/workbench/workbench.component.html
Labels: @workbench, testbed4

#653 #644 fix type change error datasource
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
Labels: @datasource, testbed2

#663 #633 refactoring css directories and set module style
  discovery-frontend/.angular-cli.json
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/assets/css/lib/dnd/style.css
  discovery-frontend/src/assets/css/lib/golden-layout/goldenlayout-base.css
  discovery-frontend/src/assets/css/lib/golden-layout/goldenlayout-dark-theme.css
  discovery-frontend/src/assets/css/lib/golden-layout/goldenlayout-light-theme.css
  discovery-frontend/src/assets/css/lib/jqtree.css
  discovery-frontend/src/assets/css/lib/rome.css
  discovery-frontend/src/assets/css/lib/slider/ion.rangeSlider.css
  discovery-frontend/src/assets/css/lib/slider/ion.rangeSlider.skinFlat.css
  discovery-frontend/src/assets/css/lib/spectrum/spectrum.css
  discovery-frontend/src/assets/css/lib/tui/tui-color-picker.css
  discovery-frontend/src/assets/css/lib/tui/tui-editor-contents.css
  discovery-frontend/src/assets/css/lib/tui/tui-editor.css
  discovery-frontend/src/assets/css/metatron/component/component.button.css
  discovery-frontend/src/assets/css/metatron/component/component.calen.css
  discovery-frontend/src/assets/css/metatron/component/component.checkbox.css
  discovery-frontend/src/assets/css/metatron/component/component.input.css
  discovery-frontend/src/assets/css/metatron/component/component.layout.popup.css
  discovery-frontend/src/assets/css/metatron/component/component.page.css
  discovery-frontend/src/assets/css/metatron/component/component.radio.css
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/component/component.tooltip.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.09WorkbenchDetail_scheme.css
  discovery-frontend/src/assets/css/polaris.v2.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/images/btn_minus_plus2.png
  discovery-frontend/src/assets/images/icon_calen_page.png
  discovery-frontend/src/assets/images/icon_drop.png
  discovery-frontend/src/assets/images/icon_mapview.png
  discovery-frontend/src/assets/images/icon_reset.png
  discovery-frontend/src/assets/images/icon_status2.png
  discovery-frontend/src/assets/images/icon_type.png
  discovery-frontend/src/assets/images/icon_valuetype.png
  discovery-frontend/src/assets/images/icon_widget.png
  discovery-frontend/src/styles.css
Labels: @common, testbed2

#679 #672 Error where multiple timestamp filters are registered in a multi data source
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, testbed2

#692 F#543 response grids of excel at once
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
Labels: @dataprep, enhancement, testbed2

#682 F#484 rule builder error
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-pivot.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-pivot.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-window.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-window.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, bug, testbed4

#699 #639 fix error fitering bbox operator
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/GeoQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/Envelope.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/FilterOperators.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @chart

#697 #654 Show notification when you click 'Delete' in workbench editor
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @workbench, testbed3

#641 #631 add stream type in source list
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/linked-resources/detail-workspace-linked-resources.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/viewer/resources-view.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/select-type/select-type.component.html
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard, testbed1

#694 F#472 query editor bug fix
  discovery-frontend/src/app/workbench/component/editor-workbench/codemirror.component.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed3

#700 #594 Error creating map view when changing properties
  discovery-frontend/src/app/common/component/chart/option/ui-option/map/ui-layers.ts
  discovery-frontend/src/app/common/component/chart/option/util/option-generator.ts
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.html
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-common-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option2.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option2.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option3.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option3.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-tooltip-option.component.html
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.html
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @chart

#693 #619 add partition info api for staging db
  discovery-frontend/src/app/common/component/period/period.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-select-data/db-select-data.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-select-data/db-select-data.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-ingestion/staging-db-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-ingestion/staging-db-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-select-data/staging-db-select-data.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-select-data/staging-db-select-data.component.ts
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.05Management_Create.css
  discovery-frontend/src/assets/css/polaris.v2.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_add.png
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/ConnectionRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/HiveMetaStoreJdbcClient.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcDataConnectionErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/HiveIngestionInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchProperties.java
  discovery-server/src/main/java/app/metatron/discovery/util/PolarisUtils.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/HiveMetaStoreConnectionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionServiceTest.java
  discovery-server/src/test/java/app/metatron/discovery/util/PolarisUtilsTest.java
Labels: @datasource

#705 #702 Missing message and broken screen error
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-info.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/data-storage/component/schema-change-action/schema-change-action.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-schema/detail-workbench-table-info-schema.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-schema/detail-workbench-table-info-schema.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.calen.css
  discovery-frontend/src/assets/css/metatron/component/component.checkbox.css
  discovery-frontend/src/assets/css/metatron/component/component.input.css
  discovery-frontend/src/assets/css/metatron/component/component.layout.popup.css
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.05Management_datasourceDetail.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.component.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.09WorkbenchDetail_scheme.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_widget.png
  discovery-frontend/src/assets/images/img_color_heatmap_type1.png
  discovery-frontend/src/assets/images/img_color_heatmap_type2.png
  discovery-frontend/src/assets/images/img_color_heatmap_type3.png
  discovery-frontend/src/assets/images/img_color_heatmap_type4.png
  discovery-frontend/src/assets/images/img_color_heatmap_type5.png
  discovery-frontend/src/assets/images/img_color_heatmap_type6.png
  discovery-frontend/src/assets/images/img_color_heatmap_type7.png
  discovery-frontend/src/lib/split/split.js
Labels: @common, testbed1

#712 #707 Modify error box location
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed1

#713 #708 table column size exception handling
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-schema/detail-workbench-table-info-schema.html
Labels: @workbench, testbed1

#695 F#534 improve left panel schema information popup
  discovery-frontend/src/app/common/component/grid/grid.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @workbench, testbed2

#711 F#709 enable download hdfs snapshot
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
Labels: @dataprep, testbed3

#696 #542 UI improvements for viewing table names and column names
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table-info-schema/detail-workbench-table-info-schema.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed4

#729 #720 Remove layer add button
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.html
Labels: @chart, testbed3

#727 F#505 Fix checking ingestion status
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/common/ProgressResponse.java
  discovery-server/src/main/java/app/metatron/discovery/common/exception/ErrorResponse.java
  discovery-server/src/main/java/app/metatron/discovery/common/exception/GlobalErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/common/exception/GlobalExceptionHandler.java
  discovery-server/src/main/java/app/metatron/discovery/common/exception/MetatronException.java
  discovery-server/src/main/java/app/metatron/discovery/common/exception/RestExceptionHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionHistory.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionHistoryRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/FileIngestionJob.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/IngestionJobRunner.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/JdbcIngestionJob.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/resources/sql/test_datasource_list.sql
Labels: @datasource, testbed1

#757 #755 fix empty message in ingestion details
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/assets/css/metatron/page/metatron.page.05Management_datasourceDetail.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @datasource, testbed4

#760 #701 Fix null point exception when some rows has null contained columns
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/Expr.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
Labels: @dataprep, testbed4

#742 #398 fix vertical scroll column dictionary
  discovery-frontend/src/app/meta-data-management/code-table/create-code-table/create-code-table.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/detail-code-table/detail-code-table.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.html
Labels: @metadata, testbed2

#756 #749 colour rule in red when rule is broken (dataflow panel)
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
Labels: @dataprep, testbed1

#783 #777 deleting column not working
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
Labels: @datasource, testbed1

#784 #770 Delete created snapshot files or hive tables when snapshot cancelation requested
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetSparkHiveService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep

#767 #570 supports_txt_file_upload_to_dataset
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileUploadService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed4

#789 #770 Allow non-numeric values for lag and lead functions
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfWindow.java
Labels: @dataprep, testbed1

#781 #774 fix auto complete in command
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
Labels: @dataprep, bug, testbed5

#785 F#726 error sample data postgresql in schema browser
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-frontend/src/app/domain/dataconnection/dataconnection.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-server/src/main/java/app/metatron/discovery/common/datasource/DataType.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: @workbench, testbed3

#799 F#798 Rule edit fail
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-aggregate.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-countpattern.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-drop.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-extract.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-flatten.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-merge.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-move.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-nest.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-replace.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-set.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-setformat.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-settype.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-sort.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-split.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-unnest.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-unpivot.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-window.component.ts
Labels: @dataprep, testbed2

#817 #816 remove mis-committed comments
  discovery-frontend/src/assets/i18n/en.json
Labels: @dataprep

#751 #501 fix search time filter in datasource, metadata
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.ts
Labels: @datasource, testbed4

#773 F#589 Allow duplicated id or email which have been rejected before
  discovery-frontend/src/app/admin/user-management/component/approval/user-management-approval.component.html
  discovery-frontend/src/app/admin/user-management/component/group/update-group/update-user-management-groups.component.html
  discovery-frontend/src/app/admin/user-management/component/members/detail-member/detail-user-management-members.component.html
  discovery-frontend/src/app/admin/user-management/component/members/user-management-members.component.html
  discovery-frontend/src/app/common/component/user-information/user-information.component.html
  discovery-frontend/src/app/user/login/component/join/join.component.html
  discovery-frontend/src/app/user/login/login.component.html
  discovery-frontend/src/app/user/profile/profile.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserRepository.java
  discovery-server/src/main/resources/messages/metatron_security_messages_ko.properties
Labels: @common, enhancement, testbed1

#791 #240 Improve the Save data table action for useful download functions
  discovery-frontend/src/app/common/component/data-download/data.download.component.html
  discovery-frontend/src/app/common/component/data-download/data.download.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/common/component/period/period.component.html
  discovery-frontend/src/app/common/component/period/period.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/dashboard/service/widget.service.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/domain/dashboard/dashboard.ts
  discovery-frontend/src/assets/css/metatron/component/component.button.css
  discovery-frontend/src/assets/css/metatron/component/component.filtering.list.css
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/component/component.icons.css
  discovery-frontend/src/assets/css/metatron/component/component.input.css
  discovery-frontend/src/assets/css/metatron/component/component.layout.popup.css
  discovery-frontend/src/assets/css/metatron/component/component.loading.css
  discovery-frontend/src/assets/css/metatron/component/component.page.css
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/component/component.tag.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.02Workbook_Chart.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.02Workbook_Dashboard.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.05Management_datasourceList.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.99Preperation_dataflow_rule.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.component.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_ChartMap.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_Dashboard_dataview.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.05Management_Create.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.99Preperation_dataset.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/grid/slick.grid.override.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/btn_close.png
  discovery-frontend/src/assets/images/btn_popclose.png
  discovery-frontend/src/assets/images/icon_add.png
  discovery-frontend/src/assets/images/icon_drop.png
  discovery-frontend/src/assets/images/icon_list_view.png
  discovery-frontend/src/assets/images/icon_mapview_guide.png
  discovery-frontend/src/assets/images/icon_query2.png
  discovery-frontend/src/assets/images/icon_search.png
  discovery-frontend/src/assets/images/icon_status.png
  discovery-frontend/src/lib/grid/slickgrid.all.js
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectQuery.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectQueryBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @dashboard, testbed4

#813 #738 add custom prop in dataconnection
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/create-data-connection/create-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/create-data-connection/create-connection.component.ts
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/update-data-connection/update-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/handler-data-connection/update-data-connection/update-connection.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-set-data-connection/db-set-data-connection.html
  discovery-frontend/src/app/domain/dataconnection/dataconnection.ts
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.05Management_Create.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/common/GlobalObjectMapper.java
  discovery-server/src/main/java/app/metatron/discovery/common/entity/JsonMapConverter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcDataConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/MssqlConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/MySQLConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/util/WorkbenchDataSourceUtils.java
Labels: @workbench, testbed1

#838 F#395 error occured when execute query with duplicated column name.
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: @datasource, testbed1

#801 F#538 improve query editor window usability
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-history/detail-workbench-history.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-history/detail-workbench-history.ts
  discovery-frontend/src/app/workbench/component/editor-workbench/codemirror.component.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.tooltip.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_list_view.png
  discovery-server/src/main/java/app/metatron/discovery/domain/audit/Audit.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryHistoryPredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryResult.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/util/WorkbenchDataSource.java
Labels: @workbench

#741 F#622 change settype selectbox
  discovery-frontend/src/app/data-preparation/data-preparation.module.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-setformat.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-setformat.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-settype.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-settype.component.ts
  discovery-frontend/src/app/data-preparation/util/prep-select-box-custom.component.html
  discovery-frontend/src/app/data-preparation/util/prep-select-box-custom.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dataprep, testbed5

#802 #458 Empty header in Text Table
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/page/chart-style/common-option.component.html
  discovery-frontend/src/app/page/chart-style/common-option.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.filtering.list.css
  discovery-frontend/src/assets/css/metatron/component/component.icons.css
  discovery-frontend/src/assets/css/metatron/component/component.layout.popup.css
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.02Workbook_Chart.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.02Workbook_Dashboard.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.99Preparation_dataflow_rule.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.99Preperation_dataflow_rule.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.component.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_ChartMap.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_Dashboard_dataview.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.99Preparation_dataset.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/images/icon_chart_error.png
  discovery-frontend/src/assets/images/icon_widget.png
  discovery-frontend/src/assets/images/img_chartnodata.png
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/ChartResultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineQueryService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @chart, testbed5

#819 F#805 add file upload location
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/domain/data-preparation/dataset.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, testbed4

#842 #825 Bidirectional remove for code table and colmnn dictionary
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/CodeTable.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/ColumnDictionary.java
Labels: @metadata

#849 Error notification when query cancelled
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench, testbed4

#836 #732 When api to find filter entry call fails, the dashboard stops load
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.html
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
  discovery-frontend/src/app/embedded/dashboard/presentation-dashboard.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.icons.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_ChartMap.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard, testbed6

#839 #828 Fix korean/english labels
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep

#823 #665 fix init part when query error
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, bug, testbed2

#844 #629 In the case of series by dimension, the tooltip representation is incorrect
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
Labels: @chart, testbed3

#854 #852 fix screen blank when reducing browser size in full screen
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
Labels: @workbench, testbed4

#857 F#811 multi line csv
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/csv/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSetType.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/Util.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, testbed3

#830 F#818 fix misaligned grid
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/scroll-loading-grid.component.ts
Labels: @dataprep

#860 #845 Fix shorten rule string function for window rule
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRuleService.java
Labels: @dataprep, testbed4

#855 #395 handle duplicate column name for mysql
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcCSVWriter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @workbench, testbed1

#856 Error in querying a specific column statistics in data source
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/model/SegmentMetaDataResponse.java
Labels: @datasource

#850 F#589 allow duplicated joining fix
  discovery-frontend/src/app/admin/user-management/component/members/create-member/create-user-management-members.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/viewer/member-group-view.component.html
  discovery-frontend/src/app/workspace/component/permission/shared-member-manage.component.html
  discovery-frontend/src/app/workspace/component/permission/shared-member.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserRepository.java
  discovery-server/src/main/resources/messages/metatron_security_messages_ko.properties
Labels: @common, testbed2

#824 F#747 new context menu option
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-aggregate.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-delete.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-derive.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-keep.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-pivot.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-replace.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-set.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-set.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-window.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/rule-condition-input.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/extend-input-formula.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-context-menu.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-context-menu.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.icon.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.component.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, testbed3

#861 #738 properties projection use only JdbcDataConnection
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionProjections.java
Labels: @workbench, bug, testbed1

#831 #733 When api to search data for widget call fails, edit button in widget not worked
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.widget.header.component.ts
  discovery-frontend/src/app/dashboard/dashboard.module.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
  discovery-frontend/src/app/dashboard/widgets/abstract-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/error-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/error-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/text-widget/text-widget.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard, testbed6

#866 #865 edit LNB area in full screen of editor
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, bug, testbed3

#867 #846 display error in widget/datasource download
  discovery-frontend/src/app/common/component/data-download/data.download.component.html
  discovery-frontend/src/app/common/component/data-download/data.download.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/common/service/image.service.ts
  discovery-frontend/src/app/common/util/common.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/domain/dashboard/dashboard.ts
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_Dashboard_dataview.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @chart, testbed1

#869 Fix checking first header row in csv
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
Labels: testbed3

#871 F#726 error sample data postgresql in schema browser fix
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: @workbench, bug, testbed2

#878 #872 make the lower layer code of the suppression throws only Excepti…
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, testbed5

#879 #877 fix cursor issue in dataest creation (db query)
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/datail-workbench-editor/editor.component.ts
Labels: @dataprep, testbed4

#881 #873 fix Korean translation
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/multicolumn-rename.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, testbed6

#876 Show only enabled datasources
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourcePredicate.java
Labels: @dashboard, testbed3

#880 #846 fix error download included user-defined field widget
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/SearchQueryRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/MeasureField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetController.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectQueryBuilder.java
Labels: @dashboard, testbed1

#889 #885 skip to add a dataset if it's duplicated
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed4

#886 F#875 monitoring cancelled & running status
  discovery-frontend/src/app/domain/audit/audit.ts
  discovery-frontend/src/app/domain/query/queryHistory.ts
  discovery-frontend/src/app/monitoring/audit/job-log/component/job-detail/job-detail.component.html
  discovery-frontend/src/app/monitoring/audit/job-log/job-log.component.html
  discovery-frontend/src/app/monitoring/audit/job-log/job-log.component.ts
  discovery-frontend/src/app/monitoring/audit/log-statistics/log-statistics.component.html
  discovery-frontend/src/app/monitoring/audit/log-statistics/log-statistics.detail.component.html
  discovery-frontend/src/assets/css/metatron/component/component.tag.css
Labels: @datamonitoring, testbed5

#892 F#890 query history message duplication
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-history/detail-workbench-history.html
Labels: @workbench, testbed1

#894 #891 display more button update
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-navigation/detail-workbench-navigation.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-navigation/detail-workbench-navigation.ts
Labels: @workbench, testbed1

#903 F#744 hide daatabases
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-select-data/db-select-data.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-set-data-connection/db-set-data-connection.ts
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-server/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcDataConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/MssqlConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/MySQLConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/OracleConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/PostgresqlConnection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/PrestoConnection.java
Labels: @datasource, @workbench, testbed2

#924 #904 Need to fix displaying list of Text widget
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dashboard, testbed3

#940 H#898 update error messages
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, testbed5

#931 #929 fix unpivot, split, move error in dataprep
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-move.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-split.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-unpivot.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-unpivot.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, testbed5

#927 #901 Missing checking catalog name duplication when creating the catalog
  discovery-frontend/src/app/meta-data-management/catalog/catalog.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogRepository.java
Labels: @metadata, testbed3

#945 #603 Sometimes filter disappear when combining filters
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/detail-code-table/detail-code-table.component.ts
Labels: @chart, testbed1

#950 Fixed input check error on user profile popup and join popup
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/create-permission-schema.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/permission-schemas.component.ts
  discovery-frontend/src/app/common/component/abstract-popup.component.ts
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/user/login/component/join/join.component.html
  discovery-frontend/src/app/user/login/component/join/join.component.ts
  discovery-frontend/src/app/user/profile/profile.component.html
  discovery-frontend/src/app/user/profile/profile.component.ts
Labels: @common, testbed4
