Repository metatron-app/metatron-discovery, pull requests merged in 2018-12, with the labels that each got.

#980 Bugfix in lnb and administration
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/linked-resources/detail-workspace-linked-resources.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/linked-resources/detail-workspace-linked-resources.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/viewer/resources-view.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/viewer/resources-view.component.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-frontend/src/app/workspace/workspace.component.ts
Labels: @common, testbed4

#974 Fix some errors during copy dashboard
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/BoardConfiguration.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRelativeFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/BookService.java
Labels: @dashboard, testbed5

#957 #637 When viewing data, hide current time column
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/common/constant/common.constant.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-update.component.ts
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.html
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_Dashboard_dataview.css
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/TemporaryTimeFormat.java
Labels: @datasource, testbed4

#977 Fix missing "get only the first" option on db ingestion stage
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
Labels: @datasource, testbed2

#991 MT-105 fix job log search placeholder
  discovery-frontend/src/app/monitoring/audit/job-log/job-log.component.html
  discovery-frontend/src/app/monitoring/audit/log-statistics/log-statistics.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @datamonitoring, testbed4

#994 955 Under the personal workspace, the "Hide / Show" function for dashboards is meaningless
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed2

#956 Bug fix in dataprep
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.html
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.99Preparation_dataflow.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep

#978 add api and config. property for realtime ingestion
  discovery-server/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/RealtimeIngestionInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/IngestionJobRunner.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/realtime/KafkaClient.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/DruidEngineMetaRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineIngestionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineProperties.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/IngestionSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/KafkaRealTimeIndexBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/io/KafkaIoConfig.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/tuning/KafkaTuningConfig.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/tuning/RealTimeTuningConfig.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/tuning/TuningConfig.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/realtime/KafkaClientTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/engine/EngineIngestionServiceTest.java
  discovery-server/src/test/resources/sql/test_datasource_list.sql
  pom.xml
Labels: @datasource

#997 #976 fix set rule via context menu
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-set.component.ts
Labels: @dataprep

#1002 F#933 fix create dbtype refresh issue
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-staging-selectdata.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-staging-selectdata.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/data-preparation/util/preparation-common.util.ts
  discovery-frontend/src/app/domain/data-preparation/dataset.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, testbed2

#999 #986 Close context menu when scrolling
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/scroll-loading-grid.component.ts
Labels: @dataprep, testbed2

#946 F#883 global variables screen modification
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-variable/detail-workbench-variable.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-variable/detail-workbench-variable.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.filtering.list.css
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed5

#998 #762 stop execute time when using retry button
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, bug, testbed2

#1007 #969 Calculated value of 'Total Row' filter differs from actual value.
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed1

#1005 Fail to add / edit short name in column dictionary
  discovery-frontend/src/app/domain/meta-data-management/column-dictionary.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.ts
Labels: @metadata, testbed5

#925 #905 Error display folder depth in workspace
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/app/workspace/workspace.component.ts
  discovery-frontend/src/assets/css/metatron/page/metatron.page.01Workspace.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @common, testbed4

#1011 #970 Legend selection (selection through dimension of color setting) is not possible when there are two dimension values.
  discovery-frontend/src/app/common/component/chart/base-chart.ts
Labels: @chart, testbed4

#1014 #907 Change label, meaning 'Do not use data source'
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-info.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.html
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Dashboard_multidata.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_unlink.png
Labels: @dashboard, testbed6

#1017 Fn qa workbench IE11, table page issue
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-dataconnection-info/detail-workbench-dataconnection-info.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed2

#954 Fixed label error in datasource detail
  discovery-frontend/src/app/common/component/modal/log/log.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/monitoring-data-source/monitoring-data-source.component.ts
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @datasource, testbed2

#1010 #814 The results of the query executed in workbench should be visible when you exit the browser and run it back into the workbench
  discovery-frontend/src/app/workbench/service/workbench.service.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/common/TemporaryCSVFileCleanJob.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorResult.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryRunRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchProperties.java
Labels: @workbench, testbed1

#1023 Use datasketch query to COUNTD function
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/Aggregation.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/aggregations/DistinctSketchAggregation.java
  discovery-server/src/main/java/app/metatron/discovery/query/polaris/ComputationalField.java
  discovery-server/src/test/java/app/metatron/discovery/query/polaris/ComputationalFieldTest.java
Labels: @chart, testbed3

#1030 Fix datasource create step script error
  discovery-frontend/src/app/common/directive/input-mask.directive.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
Labels: @datasource, testbed1

#1032 Fn qa workbench sequence name replacement row selection add
  discovery-frontend/src/app/common/component/grid/grid.component.ts
  discovery-frontend/src/app/common/component/grid/grid.option.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed3

#1025 #684 fix enhanced search datasource
  discovery-frontend/src/app/data-storage/component/criterion/criterion-checkbox.component.html
  discovery-frontend/src/app/data-storage/component/criterion/criterion-checkbox.component.ts
  discovery-frontend/src/app/data-storage/component/criterion/criterion-filter-box.component.html
  discovery-frontend/src/app/data-storage/component/criterion/criterion-filter-box.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/css/metatron/component/component.filtering.list.css
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourcePredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/DataConnectionPredicate.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/scripts/default.sql
Labels: @datasource, testbed5

#1034 hide presto internal partition table
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/PrestoConnection.java
Labels: @workbench, testbed1

#1029 BugFix in workbook
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
Labels: @dashboard, testbed2

#1027 F#659 Fix map chart bugs
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-tooltip-option.component.ts
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.html
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page-pivot/page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/common/datasource/DataType.java
  discovery-server/src/main/java/app/metatron/discovery/common/datasource/LogicalType.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/GeoQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/aggregations/RelayAggregation.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/resources/sql/test_gis_datasource.sql
Labels: @chart, testbed3

#1039 F#659 fix map chart validation bug
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed3

#1041 #841 convert json to csv
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed4

#1040 Fixed a problem where data summary information was not initialized in the data preview screen
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
Labels: @dashboard, testbed2

#1044 Fixed datasource list page
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.html
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.html
  discovery-frontend/src/assets/css/metatron/component/component.filtering.list.css
Labels: @datasource, bug, testbed5

#1045 #1042 fix catalog back btn error
  discovery-frontend/src/app/meta-data-management/catalog/catalog.component.html
  discovery-frontend/src/app/meta-data-management/catalog/catalog.component.ts
Labels: @metadata, testbed1

#1051 F#1046 dataprep migration
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepMonitorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
Labels: @dataprep, testbed5

#1052 Bugfix in workbook
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/dashboard/filters/bound-filter/bound-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/user/profile/profile.component.ts
Labels: @common, @dashboard, testbed1

#1048 Fixed translate message to korean
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-snapshot-list.component.html
  discovery-frontend/src/app/data-storage/component/schema-detail/schema-detail.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/add-column.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/monitoring-data-source/monitoring-data-source.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, @datasource, bug, testbed2

#1050 #659 fix tooltip z-index bug, block geo data
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page-pivot/page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_ChartMap.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @chart

#1065 H#1046 dataprep migration
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepMonitorService.java
Labels: @dataprep, testbed1

#1066 Error when quering timestamp filter
  discovery-distribution/conf/application-config.templete.yaml
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-list-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/GeoRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/GeoQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRangeFilter.java
  discovery-server/src/main/resources/application.yaml
Labels: @chart

#1083 H#1079 datasource with query error
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/data-grid-data-source/data-grid-data-source.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionServiceTest.java
Labels: @datasource, testbed3

#1082 F#1069 Support setting custom color for layer in map view
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/ui-option/map/ui-layers.ts
  discovery-frontend/src/app/common/component/chart/option/util/chart-util.ts
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.html
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_ChartMap.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @chart, testbed3

#1091 #1079 rollback edit filter validation in column detail datasource
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
Labels: @datasource, testbed1

#1075 F#1043 fix missing database selectbox
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.html
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-staging-selectdata.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-staging-selectdata.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.html
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/data-preparation/util/preparation-common.util.ts
  discovery-frontend/src/app/domain/data-preparation/pr-dataset.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dataprep, testbed4

#1102 Datepicker input change to readonly
  discovery-frontend/src/app/common/component/period/period.component.html
Labels: @common, testbed4

#1094 #1056 Problem with settings the mandatory filter in the link-type datasource
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/filters/abstract-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-list-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-list-filter.component.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/edit-filter-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/edit-filter-data-source.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
Labels: @dashboard, @datasource, testbed6

#1110 #985 Catch numberFormatException and throw it as prepException
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep

#1113 F#1071 dataset has no projection
  discovery-frontend/src/app/data-preparation/component/dataset-summary.component.ts
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/dataflow-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/service/dataflow.service.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/data-preparation/util/preparation-common.util.ts
  discovery-frontend/src/app/domain/data-preparation/pr-dataset.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataflow.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataflowProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDatasetProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrTransformRule.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/repository/PrDataflowRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/repository/PrDatasetRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDataflowController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDataflowService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed6

#1078 Bugfix in dashboard
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/common/gaurd/can.deactivate.guard.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed4

#1084 #1058 granularity automation in ingestion
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-configure-schema/db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-ingestion-permission/db-ingestion-permission.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-select-data/db-select-data.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-ingestion/file-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/file-select.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-configure-schema/staging-db-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-ingestion/staging-db-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-select-data/staging-db-select-data.component.ts
Labels: @datasource, testbed2

#1115 #1112 exclude temp datasource creator in filter list
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRepositoryTest.java
  discovery-server/src/test/resources/sql/test_datasource_filter.sql
Labels: @datasource, testbed2

#1093 #1047 Improve legend design in map view
  discovery-frontend/src/app/common/component/chart/option/util/option-generator.ts
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.html
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-legend-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-legend-option.component.ts
  discovery-frontend/src/app/page/page-data/page-data-context.component.html
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.02Workbook_ChartMap.css
  discovery-frontend/src/assets/images/btn_size_remark.png
  discovery-frontend/src/assets/images/icon_remark_triangle.png
  discovery-frontend/src/assets/images/icon_size_remark.png
Labels: @chart, testbed5

#1109 #1104 Sorting error in gauge chart
  discovery-frontend/src/app/common/component/chart/type/gauge-chart/gauge-chart.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/page/page.component.html
Labels: @chart, testbed4

#1123 #1086-fix Use original column type of hive table when generating json file
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/json/PrepJsonUtil.java
Labels: @dataprep, testbed1

#1125 Fix automation granularity
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
Labels: @datasource, testbed4

#1134 F#1118 bugfix dataprep undo
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepMetaDBMigrationService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed1

#1131 #1104 Fixed an error where limit icon appeared on gauge chart.
  discovery-frontend/src/app/common/component/chart/option/util/chart-util.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/page/chart-style/common-option.component.html
  discovery-frontend/src/app/page/chart-style/common-option.component.ts
Labels: @chart, testbed3

#1126 #1081 add '_' for duplicated column
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: @workbench, testbed2

#1132 #175 Combine chart => fix secondary axis range error
  discovery-frontend/src/app/common/component/chart/option/converter/axis-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/define/common.ts
  discovery-frontend/src/app/common/component/chart/type/combine-chart/combine-chart.component.ts
  discovery-frontend/src/app/page/chart-style/axis-value-option.component.html
Labels: testbed4

#1136 #1047 Map chart => Remove legend size change from Chart modify view
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.html
Labels: @chart, testbed5

#1133 F#607 file upload using html5 file api
  discovery-frontend/.angular-cli.json
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/lib/plupload/plupload.full.min.js
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
Labels: @dataprep, testbed1

#1137 #1071 Fix add dataset to existing dataflow error
  discovery-frontend/src/app/data-preparation/dataset/add-dataset-dataflow.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.table.css
Labels: @dataprep, testbed2

#1138 #1056 Fixed error message display failure when data ingestion failed
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
Labels: @dashboard, testbed5

#1139 F#1069 change custom color design
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.input.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @chart, testbed4

#1140 #1095 Must be able to download over 1000 original data
  discovery-frontend/src/app/common/component/data-download/data.download.component.html
  discovery-frontend/src/app/dashboard/service/widget.service.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard, testbed3

#1144 #1143 use JdbcConnectionService instead of dataprep own implementation
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetJdbcService.java
Labels: @dataprep, testbed1

#1145 Fix expiration time in datasource detail information
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @datasource, testbed1

#1146 #1019 Fix delete error in context menu when column name has white space
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-context-menu.component.ts
Labels: @dataprep, testbed5
