Repository metatron-app/metatron-discovery, pull requests merged in 2018-08, with the labels that each got.

#32 #15 add snapshot generation status field
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
Labels: @dataprep, enhancement

#30 F#2 improve yaxis properties
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/axis-option-converter.ts
  discovery-frontend/src/app/common/component/chart/type/bar-chart/bar-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/combine-chart/combine-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/line-chart/line-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/scatter-chart/scatter-chart.component.ts
  discovery-frontend/src/app/page/chart-style/axis-value-option.component.html
  discovery-frontend/src/app/page/chart-style/axis-value-option.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_guide_arrow.png
  discovery-frontend/src/assets/images/icon_pipeline.png
Labels: testbed2

#74 #73 FILE snapshots also need hadoop configuration.
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, bug

#83 F#82 set default locale for timestamp format data as english
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TimestampTemplate.java
Labels: @dataprep

#84 #54 change association guide message
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard

#92 #91 Datasource detail view of workspace doesn't work
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/common/data.preview.module.ts
Labels: testbed3

#108 F#85 make snapshot generating method thread safe
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, enhancement
