Repository metatron-app/metatron-discovery, pull requests merged in 2019-12, with the labels that each got.

#2901 fix map chart filtering error
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @chart, bug, testbed1

#2911 fix changeset for hibernate sequence
  discovery-server/src/main/resources/db/changelog/discovery.changelog-3.4.0.xml
  discovery-server/src/main/resources/db/changelog/discovery.changelog-initial.xml
Labels: @common, bug, testbed3

#2905 fix duplication error when creating a datasource with a registered disabled datasource
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceRepository.java
Labels: @datasource, need to cherry-pick, testbed5

#2920 fix permission error for engine monitoring
  discovery-frontend/src/app/layout/layout/layout.module.ts
Labels: @engine-monitoring, testbed5

#2902 #2869 provide detail popup on overview widgets
  discovery-frontend/src/app/common/value/engine-monitoring.data.value.ts
  discovery-frontend/src/app/engine-monitoring/component/druid-cluster-information/druid-cluster-information.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/worker/worker-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/worker/worker.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/graph.component.html
  discovery-frontend/src/app/engine-monitoring/overview/component/graph.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/kpi-popup.component.html
  discovery-frontend/src/app/engine-monitoring/overview/component/kpi-popup.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/node-information.component.html
  discovery-frontend/src/app/engine-monitoring/overview/component/node-information.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.html
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/overview.module.ts
  discovery-frontend/src/app/engine-monitoring/query/query.component.html
  discovery-frontend/src/app/engine-monitoring/query/query.component.ts
  discovery-frontend/src/app/engine-monitoring/service/engine.service.ts
  discovery-frontend/src/app/engine-monitoring/util/engine-monitoring.util.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_buttons.png
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoring.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringQueryRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringService.java
  discovery-server/src/test/resources/ingestion/sample_ingestion_hive_create_table.sql
  discovery-server/src/test/resources/ingestion/sample_ingestion_partition.csv
Labels: @engine-monitoring, testbed5

#2830 #2803 Support custom script for chart widget on dashboard
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/type/grid-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/network-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/sankey-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/treemap-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/waterfall-chart.component.ts
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/domain/dashboard/widget/page-widget.ts
  discovery-frontend/src/assets/css/metatron/component/component.icons.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_widget.png
Labels: @dashboard, testbed4

#2916 F#2386 add metadata creator favorite feature
  discovery-frontend/src/app/common/component/modal/confirm/confirm-ref.component.html
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/meta-data-management/data-creator.ts
  discovery-frontend/src/app/explore-data/explore-data.module.ts
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-data-creator-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-data-creator-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.ts
  discovery-frontend/src/app/explore-data/explore-data/service/explore-data-util.service.ts
  discovery-frontend/src/app/explore-data/favorite/data-creator-detail.component.html
  discovery-frontend/src/app/explore-data/favorite/data-creator-detail.component.ts
  discovery-frontend/src/app/explore-data/favorite/data-creator.component.html
  discovery-frontend/src/app/explore-data/favorite/data-creator.component.ts
  discovery-frontend/src/app/explore-data/favorite/favorite-creator.component.html
  discovery-frontend/src/app/explore-data/favorite/favorite-creator.component.ts
  discovery-frontend/src/app/explore-data/favorite/favorite-data.component.html
  discovery-frontend/src/app/explore-data/favorite/favorite-data.component.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/app/workbench/component/create-workbench/create-workbench-complete/create-workbench-complete.component.ts
  discovery-frontend/src/app/workbench/component/create-workbench/refactoring/create-workbench-complete.component.ts
  discovery-frontend/src/app/workbench/component/create-workbench/refactoring/create-workbench-container.component.html
  discovery-frontend/src/app/workbook/component/create-workbook/refactoring/create-workbook.component.html
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_fav.png
  discovery-frontend/src/assets/images/img_profile.png
  discovery-server/src/main/java/app/metatron/discovery/common/BaseProjections.java
  discovery-server/src/main/java/app/metatron/discovery/common/entity/DomainType.java
  discovery-server/src/main/java/app/metatron/discovery/domain/favorite/FavoriteRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/favorite/FavoriteService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/DataCreatorDTO.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/DataCreatorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserRepository.java
Labels: @metadata, testbed3

#2908 Table chart broken issue and original format display issue in original view
  discovery-frontend/angular.json
  discovery-frontend/src/app/common/component/chart/type/grid-chart.component.ts
  discovery-frontend/src/app/page/chart-style/common-option.component.ts
  discovery-frontend/src/app/page/chart-style/format-option.component.html
  discovery-frontend/src/app/page/chart-style/format/format-item.component.html
  discovery-frontend/src/app/page/chart-style/format/format-item.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/lib/pivot-grid/pivot.grid.js
Labels: @chart, testbed2

#2922 #2857 Improve preview stage of progress on stream datasource creation
  discovery-frontend/src/app/common/component/paging-search-select/paging-search-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/uploader.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-ingestion/stream-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-preview/stream-preview.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-select.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-uploader.component.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/component/component.form.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/btn_refresh.png
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/util/CommonsCsvProcessor.java
  discovery-server/src/main/java/app/metatron/discovery/util/JsonProcessor.java
Labels: @datasource, testbed6

#2926 #2681 add engine monitoring datasource information
  discovery-frontend/src/app/domain/engine-monitoring/engine.ts
  discovery-frontend/src/app/engine-monitoring/component/header-menu/header-menu.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-column.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-column.component.ts
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-detail.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-rule.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-rule.component.ts
  discovery-frontend/src/app/engine-monitoring/datasource/datasource.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource.component.ts
  discovery-frontend/src/app/engine-monitoring/engine-monitoring.component.html
  discovery-frontend/src/app/engine-monitoring/engine-monitoring.module.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/worker/worker.component.html
  discovery-frontend/src/app/engine-monitoring/query/query.component.html
  discovery-frontend/src/app/engine-monitoring/service/engine.service.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-frontend/src/assets/css/layout.css
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/component/component.form.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/data_arrow.png
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/DruidEngineMetaRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/DruidEngineRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringCriterionKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringService.java
  discovery-server/src/main/resources/application.yaml
Labels: @engine-monitoring, testbed2

#2934 fix explore data favorite screens
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/favorite/data-creator.component.ts
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
Labels: testbed3

#2943 add type to result object converter on Postgresql
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
Labels: @workbench, testbed2, to master

#2948 fix new notebook error
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/HttpRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/JupyterConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/ZeppelinConnector.java
Labels: @notebook, testbed4, to master

#2946 fix 3.3.x ui error
  discovery-frontend/src/app/admin/user-management/component/approval/user-management-approval.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/detail-permission-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.html
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/lib/pivot-grid/pivot.grid.js
Labels: testbed3

#2915 #2244 Added function to edit data source relationship settings in the dashboard
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-info.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-join.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-datasource-combo.component.html
  discovery-frontend/src/app/dashboard/component/dashboard-datasource-combo.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.html
  discovery-frontend/src/app/dashboard/component/update-dashboard/update-datasource.component.html
  discovery-frontend/src/app/dashboard/component/update-dashboard/update-datasource.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/domain/dashboard/dashboard.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard, testbed1

#2931 #2921 Timestamp filter not applied when downloading chart original data
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetController.java
Labels: @dashboard, testbed2

#2957 #2952 Remove unnecessary loading data when switching the view / edit screen on the dashboard
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed3

#2978 #2962 stop to use fileFormat
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepPreviewLineService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDatasetProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, testbed6

#2984 #2983 constraints of union rule
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.ts
Labels: @dataprep, testbed2

#2986 #2966 dataset cache out per every 3 hours
  discovery-server/src/main/java/app/metatron/discovery/config/SchedulingConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/RevisionSet.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/dataprep/DatasetCacheOutJob.java
Labels: @dataprep, bug, testbed3

#2988 #2987 import W.DS with original name
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRequest.java
Labels: @dataprep, new feature, testbed2

#2977 #2961 improve query detail and datasource list in engine monitoring
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-column.component.ts
  discovery-frontend/src/app/engine-monitoring/datasource/datasource-rule.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource.component.html
  discovery-frontend/src/app/engine-monitoring/datasource/datasource.component.ts
  discovery-frontend/src/app/engine-monitoring/query/query.component.html
  discovery-frontend/src/assets/css/metatron/component/component.icons.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_buttons.png
  discovery-frontend/src/assets/images/icon_disabled.png
  discovery-frontend/src/assets/images/icon_drop.png
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringService.java
Labels: @engine-monitoring, testbed5

#2982 #2981 fix keeping checkbox selections after refresh
  discovery-frontend/src/app/data-storage/component/criterion/criterion-checkbox-list.component.ts
Labels: @common, testbed1

#2989 #2967 support an array type column
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.html
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.ts
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field-detail.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/uploader.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/edit-filter-data-source.component.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/shared/datasource-metadata/service/constant.service.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
Labels: @datasource, testbed2
