Repository metatron-app/metatron-discovery, pull requests merged in 2019-08, with the labels that each got.

#2397 #2396 Performance issues when viewing a list of shared workspaces
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/GroupMember.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/GroupRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/GroupService.java
Labels: @workspace, testbed4

#2420 #2418 add aggregation type for search api - 'FIRST','LAST'
  discovery-server/src/main/asciidoc/api-datasource-query-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/MeasureField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/widget/shelf/LayerView.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/aggregations/RelayAggregation.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/engine/DruidEngineRepositoryTest.java
Labels: @datasource, testbed4

#2414 #1902 Fix Gradient Settings Maximum
  discovery-frontend/src/assets/css/polaris.v2.component.css
Labels: @chart, testbed5

#2421 Add guide for Discovery api into jupyter cells
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/RBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/notebook/NotebookServiceTest.java
Labels: @notebook, testbed4

#2422 Add Tooltips to the Workbench Tab
  discovery-frontend/src/app/workbench/workbench.component.html
Labels: @workbench, enhancement, testbed5

#2432 #2415 fix dataconnection list error
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/DataConnectionFilterService.java
Labels: @datasource, testbed5

#2381 #2149 Need to improve control of table chart column width
  discovery-frontend/src/lib/pivot-grid/pivot.grid.js
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed1

#2436 #2354 change lnb workspace list button
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @common, testbed1

#2428 F#2300 change plan metadata list
  discovery-frontend/package.json
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.html
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/create-code-table/create-code-table.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/component/sorting.component.html
  discovery-frontend/src/app/meta-data-management/component/sorting.component.ts
  discovery-frontend/src/app/meta-data-management/meta-data-management.module.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-db-complete.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-main.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-main.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-staging-complete.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, testbed1

#2449 #2446 remove unused code to fix security vulnerabilities
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NotebookConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NotebookConnectorController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/notebook/NotebookConnectorRestIntegrationTest.java
Labels: @notebook, testbed5

#2448 F#2442 fix oracle extension todate
  discovery-extensions/oracle-connection/src/main/java/app/metatron/discovery/OracleConnectionExtension.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/jdbc/SelectQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
Labels: @datasource, testbed4

#2450 #2445 prevents path traversal through csv download api
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorController.java
Labels: @workbench, testbed1

#2460 #2459 Extract duplicated sql string generating logic into method
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetStagingDbService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/PrepDatasetStagingDbServiceTest.java
Labels: @dataprep, testbed1

#2464 F#2352 enable prep spark engine
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.html
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.ts
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.html
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/domain/data-preparation/pr-snapshot.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrSnapshot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/SparkExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, new feature

#2430 #2384 - show alert before move to detail screen
  discovery-frontend/src/app/meta-data-management/code-table/detail-code-table/detail-code-table.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/service/code-table.service.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/component/choose-code-table/choose-code-table.component.html
  discovery-frontend/src/app/meta-data-management/component/choose-code-table/choose-code-table.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, testbed3

#2467 #2455 improve performance for counting book, member in the workspace
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/Workspace.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceService.java
Labels: @workspace, testbed5

#2473 #2472 hidden the button for main node
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-detail.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-detail.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.ts
Labels: @metadata, enhancement, testbed1

#2474 #2471 hide unused components
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.ts
Labels: @metadata, testbed1

#2451 #2008 improve UX for function selection area on user-defined field view
  discovery-distribution/extensions/.gitignore
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.html
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/domain/code/common-code.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/btn_minus_plus.png
  discovery-frontend/src/assets/images/icon_dataview.png
  discovery-server/src/main/java/app/metatron/discovery/domain/code/CommonCode.java
  discovery-server/src/main/java/app/metatron/discovery/domain/code/ExpressionController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/code/ExpressionService.java
  discovery-server/src/main/resources/templates/expression/expressions.csv
Labels: @dashboard, testbed2

#2483 recovery original style sheets
  discovery-frontend/src/assets/css/metatron/component/component.tag.css
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @metadata, bug, testbed5

#2484 fix reapply style sheet
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed5

#2488 #2266 metadata menu tab uses old design styles
  discovery-frontend/src/app/meta-data-management/meta-data-management.component.html
  discovery-frontend/src/assets/css/metatron/polaris.metatron.page.css
Labels: @metadata, testbed1

#2492 #2491 index of selected node will be clear when reloading linege view
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.ts
  discovery-frontend/src/app/meta-data-management/lineage/component/create-lineage-confirm-grid.component.ts
  discovery-frontend/src/app/meta-data-management/lineage/component/create-lineage-upload-file.component.html
  discovery-frontend/src/app/meta-data-management/lineage/component/create-lineage-upload-file.component.ts
Labels: @metadata, testbed1

#2480 F#2437 additional metadata source info
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata-source.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-frontend/src/app/layout/layout/layout.module.ts
  discovery-frontend/src/app/meta-data-management/component/choose-code-table/choose-code-table.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/metadata-grid.component.html
  discovery-frontend/src/app/meta-data-management/meta-data-management.component.html
  discovery-frontend/src/app/meta-data-management/meta-data-management.module.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/embedded-metadata-detail.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/select-catalog.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/select-catalog.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.html
  discovery-frontend/src/assets/css/metatron/component/component.button.css
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.tag.css
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_tagview.png
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/source/MetadataSource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/source/MetadataSourceProjections.java
  package-lock.json
Labels: @metadata, testbed3

#2493 #2470 navigation tab on lineage view
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.html
  discovery-frontend/src/assets/css/metatron/page/metatron.page.05Management_metadata.css
Labels: @metadata, testbed5
