Repository metatron-app/metatron-discovery, pull requests merged in 2019-04, with the labels that each got.

#1769 fix workspace error
  discovery-frontend/src/app/admin/user-management/component/permission/detail-user-management-permission.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/detail-permission-schema.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-complete.component.html
  discovery-frontend/src/app/dashboard/update-dashboard.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/dataflow-detail.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/dataflow-detail2.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.html
  discovery-frontend/src/app/model-management/model-approval/model-approval-detail/model-approval-detail.component.html
  discovery-frontend/src/app/notebook/notebook.component.html
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workspace/component/management/change-owner-workspace.component.html
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @workspace, testbed4

#1764 Fix progress script error in datasource information tab
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
Labels: @datasource, bug, testbed5

#1768 Fix granularity unit setting
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-detail.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/file-select.component.ts
  discovery-frontend/src/app/data-storage/service/granularity.service.ts
Labels: @datasource, bug, testbed3

#1759 Fn fix custom color setting
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/chart-style/common-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed1

#1772 Fix timezone list in create datasource step
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-detail.component.ts
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/service/timezone.service.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, bug, testbed2

#1775 Fix datasource setter when engine's granulraity is set NONE or null
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceServiceTest.java
Labels: @datasource

#1780 Extend the maximum number of csv file's columns
  discovery-server/src/main/java/app/metatron/discovery/util/CsvProcessor.java
  discovery-server/src/main/java/app/metatron/discovery/util/csv/CsvTemplate.java
Labels: @common, enhancement

#1774 fn Fix filter search error and list and title overlap
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-list-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/images/img_db/ic-db-mysql-w.png
  discovery-frontend/src/assets/images/img_db/ic-db-mysql.png
  discovery-frontend/src/assets/images/img_db/ic_db_mysql.png
  discovery-frontend/src/assets/images/img_db/ic_db_mysql_w.png
Labels: @dashboard, testbed3

#1777 Fix chart errors
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/common/component/chart/type/label-chart/label-chart.component.html
  discovery-frontend/src/app/common/component/chart/type/pie-chart/pie-chart.component.ts
  discovery-frontend/src/app/common/component/input/input.component.ts
  discovery-frontend/src/app/page/chart-style/common-option.component.html
  discovery-frontend/src/app/page/chart-style/common-option.component.ts
  discovery-frontend/src/app/page/chart-style/format/format-item.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/lib/echart/echarts.min.js
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed1

#1778 fix workspace permission
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceMemberRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceMemberRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceService.java
Labels: @workspace, bug, testbed5

#1779 add my shared workspace to data connection filter
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/DataConnectionFilterService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
Labels: @datasource, bug, testbed1

#1762 Add validation for geo type in datasource create step
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-action-bar.component.ts
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-detail.component.ts
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config.component.html
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/storage-filter-select-box.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/storage-filter-select-box.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/data-source-create.module.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema/edit-config-schema.component.ts
  discovery-frontend/src/app/data-storage/data-storage-common.module.ts
  discovery-frontend/src/app/data-storage/data-storage.module.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/app/data-storage/service/field-config.service.ts
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-information.component.ts
  discovery-frontend/src/app/shared/datasource-metadata/datasource-metadata-shared.module.ts
  discovery-frontend/src/app/shared/datasource-metadata/domain/filter.ts
  discovery-frontend/src/app/shared/datasource-metadata/domain/type.ts
  discovery-frontend/src/app/shared/datasource-metadata/service/constant.service.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/WktCheckRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataColumn.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataColumnProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/source/MetadataSourceProjections.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
Labels: @datasource, enhancement, testbed4

#1781 checkbox is always disabled in union edit mode
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/union-add-datasets/union-add-datasets.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/union-add-datasets/union-add-datasets.component.ts
Labels: @dataprep, testbed3

#1776 #1757 change get connection in dataprep
  discovery-frontend/src/app/common/component/paging-search-select/paging-search-select.component.html
  discovery-frontend/src/app/data-preparation/data-preparation.module.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-select.component.ts
  discovery-frontend/src/app/domain/data-preparation/pr-dataset.ts
  discovery-frontend/src/assets/css/metatron/component/component.form.css
Labels: @dataprep, testbed2

#1792 fix error waterfal chart tooltip and fix error preview filter in workbench
  discovery-frontend/src/app/common/component/chart/type/waterfall-chart/waterfall-chart.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/service/field-config.service.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/lib/nicEdit/nicEdit.js
Labels: @dashboard, @workbench, testbed4

#1791 Fn fix chart option error, global variable margin
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/page/chart-style/axis-value-option.component.ts
  discovery-frontend/src/app/page/chart-style/datalabel-option.component.html
  discovery-frontend/src/app/page/chart-style/labelbase-option.component.ts
  discovery-frontend/src/app/page/chart-style/tooltip-option.component.html
  discovery-frontend/src/assets/css/metatron/page/metatron.page.09WorkbenchDetail.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed1

#1801 #1785 fix multi data disappers map chart
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
Labels: testbed2

#1799 Show proper error msg when fail to fetch grid info in create file dataset
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
Labels: @dataprep, testbed1

#1803 Fix geo column error and service injector error in datasource
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/data-source-create.module.ts
Labels: @datasource, bug, testbed4

#1802 fix map chart error
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/common/constant/common.constant.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page-pivot/page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed3

#1807 Set delimiter properly on CSV file parser
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/file/CsvFileFormat.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/CsvStreamParser.java
Labels: @common

#1809 Should not be set delimiter on default csv
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
Labels: testbed1

#1810 Fixed an issue where filters were not applied in map charts.
  discovery-frontend/src/app/dashboard/filters/configure-filters-update.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters.component.html
  discovery-frontend/src/app/dashboard/filters/configure-filters.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, testbed3

#1808 Fix geo coordinate disable selectbox error
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config-detail.component.html
Labels: @datasource, bug, testbed2

#1836 fix error for value alias
  discovery-frontend/src/app/page/page-pivot/popup-value-alias.component.html
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SearchQueryBuilder.java
Labels: @chart, testbed3

#1837 #1721 failure of continuous update in opening detailed snapshot
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
Labels: @dataprep, testbed4

#1838 #1787 linked data source can not be downloaded
  discovery-frontend/src/app/dashboard/service/widget.service.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, testbed3

#1824 #1504 Icon overlaps the last column of query result
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed2

#1839 #1827 Fix unselect rows and column method in grid component
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/scroll-loading-grid.component.ts
Labels: @dataprep, testbed4

#1822 #1197 Improved scrolling UI when creating dashboard
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/create-permission-schema.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-complete.component.html
  discovery-frontend/src/assets/css/polaris.v2.layout.css
Labels: @dashboard, testbed1

#1845 bug fix in the table listing query in postgres
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
Labels: @datasource, testbed2

#1844 #1821 fix geospatial operation error, if the main layer is a shape type
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/DataQueryController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/AbstractIngestionJob.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/IngestionJobRunner.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineQueryService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/GeoRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/GeoServerProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/GeoService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/model/GeoDataStore.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/GeoQuery.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/GeoQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/GetFeature.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/PropertyName.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/extension/AggregationExtension.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/extension/DruidExtension.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/extension/ViewExtension.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/AndOperator.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/BBox.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/Envelope.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/FilterOperators.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/FilterProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/GeoFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/LogicalOperator.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/OrOperator.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/PropertyIsBetween.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/PropertyIsEqualTo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/geo/query/model/filter/PropertyIsLike.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/widget/shelf/LayerView.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/funtions/ShapeBufferFunc.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GeoBoundaryFilterQuery.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GeoBoundaryFilterQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectStreamQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/engine/DruidEngineRepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/geo/GeoRepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/geo/GeoServiceTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/geo/query/model/GetFeatureTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/WidgetConfigurationTest.java
Labels: @chart, testbed3

#1873 #1840 add "second" granularity for timestamp column
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/dashboard/filters/component/timeUnit-select.component.ts
  discovery-frontend/src/app/page/chart-style/secondary-indicator.component.ts
  discovery-frontend/src/app/page/page-pivot/page-pivot.component.ts
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.html
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.ts
Labels: @chart, testbed3

#1870 #1868 Fix connection parameter in create datasource
  discovery-frontend/src/app/data-storage/component/connection/connection.component.ts
Labels: @datasource, bug, testbed2

#1875 #1871 change ingestion method for Point type WKT column
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/widget/shelf/LayerView.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/funtions/ShapeCentroidYXFunc.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/funtions/StructFunc.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectStreamQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
Labels: @datasource, testbed6

#1847 F#1825 map chart tooltip
  discovery-frontend/src/app/common/component/chart/option/converter/tooltip-option-converter.ts
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/common/component/select/select.component.html
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/domain/workbook/configurations/field/field.ts
  discovery-frontend/src/app/page/chart-style/base-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-tooltip-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-tooltip-option.component.ts
  discovery-frontend/src/app/page/component/analysis/map-spatial/map-spatial.component.html
  discovery-frontend/src/app/page/component/analysis/map-spatial/map-spatial.component.ts
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @chart, testbed1

#1874 #1784 line chart custom color initialized
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
Labels: @chart, testbed4

#1880 #1817 support login page for external apps
  discovery-frontend/angular.json
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomJdbcClientDetailsServiceBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/common/web/OauthFilter.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/resources/messages/messages.properties
  discovery-server/src/main/resources/messages/messages_en.properties
  discovery-server/src/main/resources/messages/messages_ko.properties
  discovery-server/src/main/resources/templates/api/oauth/login.html
Labels: @common, testbed6

#1877 #1820 Workbench icon reordered for extended connections
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/app/workspace/workspace.component.ts
  discovery-frontend/src/assets/images/img_db/ic_db_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_custom_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_druid_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_hive_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_mysql.png
  discovery-frontend/src/assets/images/img_db/ic_db_mysql_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_mysql_w.png
  discovery-frontend/src/assets/images/img_db/ic_db_oracle_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_phoenix_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_post_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_presto_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_rds_b.png
  discovery-frontend/src/assets/images/img_db/ic_db_tibero_b.png
Labels: @workbench, @workspace

#1876 F#1826 map chart widget save
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/component/analysis/map-spatial/map-spatial.component.ts
Labels: @chart, testbed2

#1832 #1227 Fix scroll ui in datasource
  discovery-frontend/src/app/data-storage/component/schema-config/schema-config.component.html
  discovery-frontend/src/app/data-storage/data-connection/create-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/update-connection.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-set-data-connection/db-set-data-connection.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/druid-create-component/druid-select/druid-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/file-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/select-type/select-type.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/snapshot-source/create-snapshot-source-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-select-data/staging-db-select-data.component.html
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.html
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @datasource, testbed5

#1883 change csv processing library (to. commons-csv)
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/util/CommonsCsvProcessor.java
  discovery-server/src/test/java/app/metatron/discovery/util/CommonsCsvProcessorTest.java
  discovery-server/src/test/resources/csv/csv_many_column.csv
Labels: @datasource, testbed4

#1884 Fix wrong wrangled dataset icon
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.ts
Labels: @dataprep, testbed6

#1885 Fix css in code table detail and column dictionary popup
  discovery-frontend/src/app/meta-data-management/component/choose-column-dictionary/choose-column-dictionary.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed2

#1881 #1818 add mssql connection extension
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/accessor/AbstractJdbcDataAccessor.java
  discovery-distribution/src/assembly/assembly.xml
  discovery-extensions/mssql-connection/pom.xml
  discovery-extensions/mssql-connection/src/main/assembly/assembly.xml
  discovery-extensions/mssql-connection/src/main/java/app/metatron/discovery/MssqlConnectionExtension.java
  discovery-extensions/mssql-connection/src/main/resources/ic_db_mssql.png
  discovery-extensions/mssql-connection/src/main/resources/ic_db_mssql_b.png
  discovery-extensions/mssql-connection/src/main/resources/ic_db_mssql_w.png
  discovery-extensions/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/extensions/CustomPluginManager.java
  pom.xml
Labels: @datasource, testbed1

#1879 #1540 Improved constraints for changing the column type
  discovery-frontend/src/app/admin/user-management/component/members/change-workspace-owner-modal/change-worksspace-owner-modal.module.ts
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/common/pipe/filter.pipe.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-datatype.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/column-detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/app/data-storage/service/field-config.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata-column.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata.ts
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/information/information.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/information/information.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/top-info/top-info.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/top-info/top-info.component.ts
  discovery-frontend/src/app/meta-data-management/detail/detail.module.ts
  discovery-frontend/src/app/meta-data-management/meta-data-management.module.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/select-datatype.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail-columnschema.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.ts
  discovery-frontend/src/app/page/page-data/page-data-context.component.ts
  discovery-frontend/src/app/shared/datasource-metadata/component/datetime-valid-popup.component.html
  discovery-frontend/src/app/shared/datasource-metadata/component/datetime-valid-popup.component.ts
  discovery-frontend/src/app/shared/datasource-metadata/datasource-metadata-shared.module.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataColumn.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataColumnProjections.java
Labels: @datasource, @metadata, testbed3

#1888 Fn fix map chart tooltip and shelf
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/component/analysis/map-spatial/map-spatial.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, bug, testbed1

#1887 Change datasource create rollup default value and GEO type valid error
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/create-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/create-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/snapshot-source/create-snapshot-source-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/snapshot-source/create-snapshot-source-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/staging-db-component/staging-db-complete/staging-db-complete.component.ts
  discovery-frontend/src/app/data-storage/service/field-config.service.ts
Labels: @datasource, bug, testbed2

#1891 fn bug fixed geo column on different chart layer
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @chart, bug, testbed4

#1896 Fixed an error where clicking on a selected chart series did not remove the selection filter.
  discovery-frontend/angular.json
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/type/gauge-chart/gauge-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/treemap-chart/treemap-chart.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.widget.header.component.ts
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @dashboard

#1900 #1540 Modify column dictionary and code table icon click event
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
Labels: @metadata, testbed1

#1931 #1927 fix error for NPE in batch ingestion stage
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/jdbc/SelectQueryBuilder.java
Labels: @datasource, testbed2

#1929 #1928 User-defined field can't put on the shelf
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed3

#1930 #1894 fix to work when only local system is configured
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, testbed4

#1946 #1912 do not check upstream's column name for hive snapshot
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed4

#1958 #1956 Database search does not work on the Hive Connection Workbench.
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/accessor/AbstractJdbcDataAccessor.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/connection/DataConnectionRestInegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/fixture/HiveTestFixture.java
  discovery-server/src/test/resources/sql/test_dataconnection.sql
Labels: testbed5

#1960 #1959 Errors that can not be entered into a workbook or workbench in I.E
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
Labels: @workspace, testbed6

#1917 #1911 Change default quote in druid jdbc
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/dialect/JdbcDialect.java
  discovery-extensions/mssql-connection/src/main/java/app/metatron/discovery/MssqlConnectionExtension.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/DataConnectionHelper.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/DruidDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/HiveDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/MySQLDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PrestoDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/query/expression/NativeProjection.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: testbed1

#1943 #1922 Fix access denied when clientId is different
  discovery-server/src/main/java/app/metatron/discovery/common/web/OauthFilter.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
Labels: @common, testbed2

#1962 Add unit tests for app.metatron.discovery.prep.parser.preparation.rul…
  discovery-prep-parser/src/test/java/app/metatron/discovery/prep/parser/preparation/rule/expr/PairTest.java
Labels: @dataprep, testbed1

#1970 fn fix change datasource in schema browser
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
Labels: @workbench, testbed1

#1975 fix dashboard critical issues in ie
  discovery-frontend/src/app/common/component/input/input.component.ts
  discovery-frontend/src/app/common/service/image.service.ts
  discovery-frontend/src/app/dashboard/component/dashboard-datasource-combo.component.html
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/polyfills.ts
Labels: @dashboard, testbed1

#1974 Fix ui css error in IE
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/assets/css/lib/jqtree.css
  discovery-frontend/src/assets/css/metatron/component/component.checkbox.css
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/popup/metatron.popup.99Preperation_dataset.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @common, testbed6

#1973 #1971 to read csv without BOM
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/csv/PrepCsvUtil.java
Labels: @dataprep, testbed2
