Repository metatron-app/metatron-discovery, pull requests merged in 2019-09, with the labels that each got.

#2497 Added reset search button and edit slider
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-schema-browser/detail-workbench-schema-browser.component.ts
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @workbench, testbed1

#2502 fn-fix_monitoring error
  discovery-frontend/src/app/monitoring/audit/log-statistics/log-statistics.component.ts
Labels: @datamonitoring, testbed3

#2519 #2477 not all fields on the origin need to be filled
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.html
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/domain/data-preparation/pr-snapshot.ts
Labels: @dataprep

#2507 fn-fix_explore_data_detail_error
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/recent-queries.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @metadata, testbed2

#2508 fn-fix_workbook-datasource-detail-error
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
Labels: @dashboard, testbed3

#2514 fn-fix_monitoring_log_statistics_cpu_memory
  discovery-frontend/src/app/monitoring/audit/log-statistics/log-statistics.component.html
  discovery-server/src/main/java/app/metatron/discovery/domain/audit/AuditController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/audit/AuditPredicate.java
Labels: @datamonitoring, testbed1

#2521 fix detecting charset
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/app/data-storage/service/field-config.service.ts
  discovery-server/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/domain/code/ExpressionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/IngestionDataResultResponse.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/LocalFileIngestionInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/file/ExcelFileFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/FileIngestionJob.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/util/CommonsCsvProcessor.java
Labels: @datasource, testbed3

#2513 Fn fix mdm api error
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/accessor/PostgresqlDataAccessor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/ColumnDictionary.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataPredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagRepositoryImpl.java
Labels: @metadata, testbed2

#2503 fn-fix_ds_workspace
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/shared-workspaces.component.html
  discovery-frontend/src/app/workspace/component/management/create-workspace.component.html
  discovery-frontend/src/app/workspace/component/management/create-workspace.component.ts
  discovery-frontend/src/app/workspace/component/management/update-workspace.component.html
  discovery-frontend/src/app/workspace/component/management/update-workspace.component.ts
  discovery-frontend/src/app/workspace/component/management/workspace-list.component.html
  discovery-frontend/src/app/workspace/component/management/workspace-list.component.ts
  discovery-frontend/src/app/workspace/workspace.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @workspace, testbed2

#2511 fix metadata error
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/component/choose-code-table/choose-code-table.component.html
  discovery-frontend/src/app/meta-data-management/component/choose-code-table/choose-code-table.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.css
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata

#2522 Fn fix add explore detail column sort
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.ts
Labels: @metadata, testbed3

#2500 fix create dashboard error
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-network.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-ds-select.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-join.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-join.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @dashboard

#2527 fix datasource information
  discovery-frontend/src/app/data-storage/component/schema-configure/check-action-layer/schema-configure-create-field.component.ts
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field-detail.component.ts
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field.component.ts
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/domain/datasource/stats.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, testbed2

#2528 fix admin users and workspace
  discovery-frontend/src/app/admin/user-management/component/members/create-member/create-user-management-members.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/permission-schemas.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/permission-schemas.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/information/detail-workspace-information.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/information/detail-workspace-information.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/shared-workspaces.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/shared-workspaces.component.ts
  discovery-frontend/src/app/common/component/period/period.component.html
  discovery-frontend/src/app/common/component/period/period.component.ts
  discovery-frontend/src/app/workspace/component/permission/shared-member.component.html
  discovery-frontend/src/app/workspace/component/permission/shared-member.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspacePredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceProjections.java
Labels: @common, testbed3

#2529 Temporarily modify the list of workspaces
  discovery-frontend/src/app/workspace/workspace.component.ts
Labels: @workspace, testbed1

#2504 fn-fix_datastorage_default_filter error
  discovery-frontend/src/app/data-storage/component/criterion/criterion-extension-box.component.html
  discovery-frontend/src/app/data-storage/component/criterion/criterion.component.ts
Labels: @datasource, testbed2

#2534 fix search custom field function
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.html
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
Labels: @dashboard, testbed3

#2536 fix default role not to be deleted
  discovery-frontend/src/app/workspace/component/permission/permission-schema.component.html
  discovery-frontend/src/app/workspace/component/permission/permission-schema.component.ts
Labels: @common, testbed2

#2512 fn-fix_code_table_error
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.html
  discovery-frontend/src/app/meta-data-management/code-table/detail-code-table/detail-code-table.component.html
  discovery-frontend/src/app/meta-data-management/code-table/detail-code-table/detail-code-table.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.html
Labels: @metadata, testbed1

#2537 fix crontab validation
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, testbed3

#2540 fn-fix_metadata_detail_error
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, testbed1

#2542 fn-fix_explore_search_error
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.ts
Labels: @metadata, testbed2

#2544 fix permission schema role validation
  discovery-frontend/src/app/workspace/component/permission/permission-schema.component.ts
Labels: @common, testbed3

#2546 fix dataconnection list error
  discovery-frontend/src/app/data-storage/component/criterion/criterion-extension-box.component.html
  discovery-frontend/src/app/data-storage/component/criterion/criterion.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
Labels: @datasource, testbed1

#2545 fix dataprep charset issue
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/csv/PrepCsvUtil.java
Labels: @dataprep, testbed2

#2549 Fn default node count is 7 on lineage view
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.ts
Labels: @metadata, testbed1

#2550 Fn show sheet name on dataset info
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.ts
Labels: @dataprep, testbed2

#2547 Fn add last access time for user
  discovery-frontend/src/app/admin/user-management/component/members/detail-member/detail-user-management-members.component.html
  discovery-frontend/src/app/domain/common/abstract-history-entity.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/activities/ActivityStreamRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/activities/ActivityStreamService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserService.java
Labels: @common, testbed3

#2551 fix dashboard error
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-ds-info.component.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-join.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-join.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.widget.header.component.html
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.html
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.html
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/dashboard/filters/bound-filter/bound-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/bound-filter/bound-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.html
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/bound-filter.ts
  discovery-frontend/src/app/page/component/analysis/prediction/analysis-prediction.component.ts
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/assets/css/lib/golden-layout/goldenlayout-base.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/lib/golden-layout/goldenlayout.js
Labels: @dashboard, testbed4

#2554 fn-explore_favorite_error
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.html
Labels: @metadata, testbed2

#2552 Fn query verification of jdbc dataset
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
Labels: @dataprep, testbed5

#2558 Added missing resource bundles
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @workbench, testbed4

#2557 fn-fix_mdm_metadata_edit_error
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.model.service.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/assets/i18n/ko.json
Labels: @metadata, testbed2

#2553 Fn confirm button to delete snapshot is corrected
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.ts
Labels: @dataprep, testbed1

#2569 #2568 constrained file name
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.html
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.ts
Labels: @dataprep, testbed5

#2555 fn-fix_workspace_name_duplication_error
  discovery-frontend/src/app/workspace/component/management/create-workspace.component.ts
  discovery-frontend/src/app/workspace/component/management/update-workspace.component.ts
Labels: testbed3

#2563 fix favorite workspace list
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/DataConnectionFilterService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceService.java
Labels: @workspace, testbed4

#2565 fix sort notebook server
  discovery-frontend/src/app/workspace/component/etc/set-notebook-server.component.html
  discovery-frontend/src/app/workspace/component/etc/set-notebook-server.component.ts
Labels: @notebook, testbed2

#2570 fix exception handling in the expression in dataprep
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/exceptions/FunctionArgumentCountException.java
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/expr/Expr.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfKeep.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/exceptions/TeddyException.java
Labels: @dataprep, testbed5

#2566 fix workbench schema login
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-database/detail-workbench-database.html
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-database/detail-workbench-database.ts
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed4

#2567 fn-fix_dataprep_dataflow_button
  discovery-frontend/proxy.conf.js
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
Labels: @dataprep, testbed1

#2572 fix check metadata lineage
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-frontend/src/app/meta-data-management/meta-data-management.component.html
  discovery-frontend/src/app/meta-data-management/meta-data-management.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-server/src/main/java/app/metatron/discovery/domain/extension/ExtensionController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/extension/ExtensionProperties.java
Labels: testbed1

#2559 Fn fix exploredata error
  discovery-frontend/src/app/data-storage/component/criterion/criterion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/explore-banner.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/create-column-dictionary/create-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/component/metadata-control-complete.component.html
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
Labels: @metadata, testbed5

#2571 fix snapshot encoding issue for Excel
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
Labels: @dataprep, testbed4

#2573 fix add activitystream workspace
  discovery-frontend/src/app/admin/user-management/component/approval/user-management-approval.component.html
  discovery-frontend/src/app/admin/user-management/component/approval/user-management-approval.component.ts
  discovery-frontend/src/app/workspace/workspace.component.ts
Labels: @common, testbed2

#2574 fix dashboard data preview
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
Labels: @dashboard, testbed3

#2575 fix check workspace name duplicate
  discovery-frontend/src/app/workspace/component/management/create-workspace.component.ts
  discovery-frontend/src/app/workspace/component/management/update-workspace.component.ts
  discovery-frontend/src/app/workspace/component/management/workspace-list.component.ts
Labels: @workspace, testbed2

#2577 change condition for prediction analysis
  discovery-frontend/src/app/page/component/analysis/prediction/analysis-prediction.component.ts
Labels: @chart, testbed1

#2576 Fn fix exploredata error
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed3

#2579 fix validate workspace name when creating or updating workspace
  discovery-frontend/src/app/workspace/component/management/create-workspace.component.ts
  discovery-frontend/src/app/workspace/component/management/update-workspace.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/PivotResultFormat.java
Labels: @workspace, testbed3

#2578 F#2354 exploration menu change
  discovery-frontend/proxy.conf.js
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_lnb.png
Labels: testbed2

#2590 #2589 Error displaying null when workbench query result is numeric type.
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryResult.java
  discovery-server/src/test/java/app/metatron/discovery/common/ObjectMapperTest.java
Labels: @workbench, testbed2

#2585 fn-fix_ie_ui_error
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/linked-resources/detail-workspace-linked-resources.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.html
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed4

#2583 Fixed validation error when creating data source from file
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
Labels: @datasource, testbed3

#2596 fix dashboard err
  discovery-frontend/src/app/common/component/data-download/data.download.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.html
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, testbed2

#2593 fn-fix_explore_data_ui_error
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/dataset-info-popup/dataset-info-popup.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/explore-banner.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/explore-banner.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: testbed4

#2598 Long detail panel description overlaps button
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dataprep, testbed4

#2609 #2584 disable spark engine when not properly configured
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.html
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.ts
Labels: @dataprep, testbed5

#2616 Fixed an error that occurred when using the `ifcountd` function in a user-defined field
  discovery-server/src/main/java/app/metatron/discovery/query/druid/postaggregations/MathPostAggregator.java
  discovery-server/src/main/java/app/metatron/discovery/query/polaris/ComputationalField.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/DataSourceRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/query/polaris/ComputationalFieldTest.java
Labels: @chart, bug, need to cherry-pick, testbed1

#2612 #1771 a proper error message when move inconsecutive columns
  discovery-distribution/extensions/.gitignore
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, testbed3

#2642 #1326 remove unused dataprep code
  discovery-distribution/.gitignore
  discovery-distribution/extensions/.gitignore
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-prep-parser/src/main/antlr4/app/metatron/discovery/prep/parser/antlr/PrepRule.g4
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/PrepRuleVisitorParser.java
  discovery-prep-parser/src/test/java/app/metatron/discovery/prep/parser/preparation/PrepRuleVisitorParserTest.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepMetaDBMigrationService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/csv/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDataflowController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvInputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/rest/PrDataflowRestIntegrationTest.java
Labels: @dataprep, testbed2

#2621 #2592 Contents in Column List of Metadata Management and Exploration Data Do Not Match
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.ts
  discovery-frontend/src/assets/css/metatron/page.css
Labels: @metadata, testbed1

#2631 #2604 Move when clicking on Dashboard and Workbench in Top User
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.ts
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/app/workbook/workbook.module.ts
  discovery-frontend/src/assets/css/metatron/page.css
Labels: @metadata, testbed4

#2627 #2617 Keep sorting conditions used in the workspace
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/common/constant/local-storage.constant.ts
  discovery-frontend/src/app/common/value/used-criteria.data.value.ts
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/app/workspace/workspace.component.ts
Labels: @workspace, testbed3

#2638 #2629 fix uppercase table name in postgresql
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/accessor/PostgresqlDataAccessor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
Labels: @workbench, testbed5

#2649 #2633 Some trivial css issues
  discovery-frontend/src/app/admin/user-management/component/members/detail-member/detail-user-management-members.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/detail-workspace.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/theme_dark/component/component.selectbox.css
Labels: @common, testbed5

#2646 #2375 use type from snapshot2
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
Labels: @dataprep, testbed6

#2653 fix presto array column handling as string
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PrestoDialect.java
Labels: @datasource, need to cherry-pick, testbed5

#2648 Add timer to cancel button in workbench
  discovery-frontend/src/app/workbench/workbench.component.html
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/assets/css/metatron/page.css
Labels: @workbench, need to cherry-pick, testbed3

#2654 #2651 Uppercase table name of postgresql to create dataset
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetDatabaseService.java
Labels: @dataprep, testbed3

#2647 #2463 pause and resume batch ingestion
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-storage.module.ts
  discovery-frontend/src/app/data-storage/service/scheduling.service.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, testbed4

#2655 #2626 Improves the Layers menu in the panel for time filters.
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
Labels: @dashboard, testbed5

#2660 fix dataprep test case error
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvIntegrationTest.java
Labels: @dataprep

#2641 F#2603 metadata detail add dashboard thumbnail
  discovery-frontend/src/app/dashboard/update-dashboard.component.html
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/recent-queries.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/recent-queries.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashboardProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashboardRepository.java
Labels: @metadata, testbed6

#2650 #2605 add filtering, sorting functionality in explore data list
  discovery-frontend/src/app/data-storage/component/criterion/criterion-time-radiobox-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data.module.ts
  discovery-frontend/src/app/explore-data/explore-data/component/check-box-filter.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/updated-time-radio-filter.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/updated-time-radio-filter.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.ts
  discovery-frontend/src/app/explore-data/explore-data/service/explore-data-util.service.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.ts
  discovery-frontend/src/app/shared/datasource-metadata/domain/type.ts
  discovery-frontend/src/app/shared/datasource-metadata/service/constant.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataPredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepositoryImpl.java
Labels: @metadata, testbed4
