Repository metatron-app/metatron-discovery, pull requests merged in 2019-10, with the labels that each got.

#2661 fix engine monitoring duration
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/graph.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/status.component.html
  discovery-frontend/src/app/engine-monitoring/overview/component/status.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.html
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringService.java
Labels: @engine-monitoring, testbed3

#2667 fix grid chart measure alias
  discovery-frontend/src/app/common/component/chart/type/grid-chart.component.ts
Labels: @chart, need to cherry-pick, testbed4

#2665 fix improve engine monitoring resize
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/snapshot-source/snapshot-preview.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/graph.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.html
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
Labels: @engine-monitoring, testbed3

#2668 Fixed screen error
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/app/engine-monitoring/component/druid-cluster-information/druid-cluster-information.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/assets/css/metatron/component/component.page.css
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/component/component.page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/images/btn_slider2.png
  discovery-frontend/src/assets/images/dark_theme/btn_refresh_dark.png
  discovery-frontend/src/assets/images/img_board_default2.png
Labels: @common, testbed5

#2664 #0 fix snapshot list loads infinitely
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot.component.ts
Labels: @dataprep, bug, testbed2

#2666 fix can add an aggregate rule without group
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-aggregate.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRuleService.java
Labels: @dataprep, testbed1

#2670 fix inital sort parameter in exploration data, fix re enter list view…
  discovery-frontend/src/app/explore-data/explore-data/component/check-box-filter.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/updated-time-radio-filter.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/updated-time-radio-filter.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.ts
Labels: testbed3

#2673 #2672 add view in postgresql's table list
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
Labels: @datasource, need to cherry-pick, testbed1

#2677 fix engine monitoring trivial error
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.html
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/app/domain/engine-monitoring/engine.ts
  discovery-frontend/src/app/engine-monitoring/component/druid-cluster-information/druid-cluster-information.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/worker/worker.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/graph.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/node-information.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.html
  discovery-frontend/src/app/engine-monitoring/overview/overview.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/pipe/table-filter.pipe.ts
  discovery-frontend/src/app/workspace/workspace.component.html
Labels: @engine-monitoring, testbed3

#2674 #2063 adding union rule shows field type as icon correctly
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.ts
  discovery-frontend/src/assets/css/metatron/page.css
Labels: @dataprep, testbed2

#2678 fix error black theme style
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.html
  discovery-frontend/src/app/layout/layout/component/gnb/gnb.component.ts
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/images/@sample.png
Labels: @common, testbed4

#2679 open the dashboard/workbench with a tab in Exploration
  discovery-frontend/src/app/explore-data/explore-data/component/explore-data-user-card.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-overview.component.ts
Labels: @metadata, testbed3

#2675 fix exploration data filter error
  discovery-frontend/src/app/explore-data/explore-data/component/catalog-folder.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/catalog-folder.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/updated-time-radio-filter.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/updated-time-radio-filter.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-lnb.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-lnb.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
Labels: @metadata, testbed1

#2703 F#2517 better coding patterns
  discovery-frontend/src/app/data-preparation/component/snapshot-loading.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataflow.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDatasetProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrSnapshot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrSnapshotProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/SparkExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyDatabaseService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecCallback.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepFileUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepJsonUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDataflowController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/Histogram.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/util/DbInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/util/HiveInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/util/PrepUtil.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvOutputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/OrcTest.java
Labels: @dataprep, testbed2

#2704 #2610 preview reload problem
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
Labels: @dataprep, testbed5

#2706 #2530 contains function explanation was corrected
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
Labels: @dataprep, testbed6

#2707 #2293 cannot close preview result
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.html
Labels: @dataprep, testbed2

#2697 #2696 fix change theme
  discovery-frontend/src/app/layout/layout/component/gnb/gnb.component.ts
Labels: @common, testbed4

#2701 #2695 Dashboard widget 'save table as file' screen error in dark theme
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, testbed1

#2724 #2723 create dataset button is not clicked
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.html
Labels: @dataprep

#2716 #2705 when generate a new dataset, add sequence for distinction
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, testbed2

#2727 fix error for regex filtering mode in advance filter
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @chart, need to cherry-pick, testbed1

#2708 #2686 postgresql sql syntax error
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed5

#2711 F#2699 change filter in exploration list and fix bug
  discovery-frontend/src/app/common/common.module.ts
  discovery-frontend/src/app/common/directive/explore-data-scroll.directive.ts
  discovery-frontend/src/app/data-storage/component/criterion/criterion-checkbox-list.component.ts
  discovery-frontend/src/app/data-storage/component/criterion/criterion-time-radiobox-list.component.html
  discovery-frontend/src/app/data-storage/component/criterion/criterion-time-radiobox-list.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/explore-data/explore-data.module.ts
  discovery-frontend/src/app/explore-data/explore-data/component/catalog-folder.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/explore-banner.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/explore-banner.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/explore-card.component.html
  discovery-frontend/src/app/explore-data/explore-data/component/explore-card.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/metadata-svg.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-list.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-lnb.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-search.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/explore-data/service/explore-data-model.service.ts
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataPredicate.java
Labels: @metadata, testbed1

#2715 F#2640 unify charset detecting code
  discovery-frontend/src/app/meta-data-management/lineage/component/create-lineage-upload-file.component.ts
  discovery-frontend/src/app/meta-data-management/lineage/service/lineage.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepFileUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvInputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvOutputTest.java
Labels: @dataprep, testbed6

#2721 #2635 Maintain search result list view in datasource mgmt. after moving to detailed view
  discovery-frontend/angular.json
  discovery-frontend/src/app/data-storage/component/criterion/criterion-time-radiobox-list.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/assets/css/metatron.css
Labels: @datasource, testbed3

#2725 #2607 Tag/Catalog search suggestions and autocomplete
  .gitignore
  discovery-frontend/src/app/meta-data-management/catalog/service/catalog.service.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/theme_dark/component/component.selectbox.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogCountDTO.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/catalog/CatalogService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagCountDTO.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/tag/TagService.java
  discovery-server/src/test/java/app/metatron/discovery/RepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/mdm/catalog/CatalogRepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/tag/TagRepositoryTest.java
  discovery-server/src/test/resources/sql/test_mdm.sql
  discovery-server/src/test/resources/sql/test_tag.sql
Labels: @metadata, testbed2

#2736 Fix Hibernate envers jdbc connection problem
  discovery-server/src/main/java/app/metatron/discovery/common/revision/AuditConfiguration.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
Labels: @metadata, bug, testbed2

#2739 fn fix union typo
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
Labels: @dataprep, testbed2

#2738 #1750 unify null representations in datapreparation
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/util/preparation-common.util.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
Labels: @dataprep, testbed3

#2740 #2732 improve engine monitoring ingestion
  discovery-frontend/src/app/domain/engine-monitoring/task.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task.component.ts
  discovery-frontend/src/app/engine-monitoring/service/engine.service.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringService.java
  discovery-server/src/main/resources/application.yaml
Labels: @engine-monitoring, testbed5

#2713 #2562 Support realtime datasource
  discovery-frontend/src/app/common/service/abstract.service.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/create-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/data-source-create.module.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/select-type/select-type.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/select-type/select-type.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-complete/stream-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-complete/stream-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-configure-schema/stream-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-configure-schema/stream-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-ingestion/stream-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-ingestion/stream-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-preview/stream-preview.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-preview/stream-preview.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-select.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-select.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-uploader.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/stream-create-component/stream-select/stream-uploader.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/ReingestionRequest.java
  discovery-server/src/main/java/app/metatron/discovery/util/JsonProcessor.java
Labels: @datasource, testbed4

#2735 #2734 'Custom Color Range' values are not kept when setting layer in map view chart.
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
Labels: @chart, testbed1

#2742 #2722 'Size by', 'Radius Range' values are not kept when setting layer in map view chart
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
Labels: @chart, testbed1

#2747 #2659 change Hibernate fetchType to LAZY -> EAGER for @OneToOne relation
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/Metadata.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
Labels: @metadata, testbed1

#2748 Use maxFetchSize on JDBC. Set auto_commit=false for PostgreSQL
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/connector/PostgresqlJdbcConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyDatabaseService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, @workbench

#2749 fix metadata detail and explore data main error
  discovery-frontend/src/app/app.component.ts
  discovery-frontend/src/app/explore-data/explore-data/component/explore-banner.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/top-info/top-info.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, testbed1

#2751 Fixed error in dark theme
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/layout.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/images/dark_theme/icon_edit2_dark.png
  discovery-frontend/src/lib/echart/echarts.min.js
Labels: @common, testbed1

#2750 #fn fix custom field ui error
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.html
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @chart, testbed5

#2754 #2753 checking the status of snapshot is repeated
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
Labels: @dataprep, bug, need to cherry-pick

#2757 fix popularity css in metadata detail's column tab
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
Labels: @metadata, testbed2

#2761 Fix null value representation in ORC files
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyOrcWriter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfDerive.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSet.java
Labels: @dataprep, bug, need to cherry-pick

#2767 #1771 a proper error message when move inconsecutive columns
  discovery-distribution/extensions/.gitignore
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
Labels: @dataprep, bug

#2769 #1326 remove unused dataprep code
  discovery-distribution/.gitignore
  discovery-distribution/extensions/.gitignore
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-prep-parser/src/main/antlr4/app/metatron/discovery/prep/parser/antlr/PrepRule.g4
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/PrepRuleVisitorParser.java
  discovery-prep-parser/src/test/java/app/metatron/discovery/prep/parser/preparation/PrepRuleVisitorParserTest.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepMetaDBMigrationService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/csv/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDataflowController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvInputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/rest/PrDataflowRestIntegrationTest.java
Labels: 3.3.x, @dataprep, refactoring

#2770 #2375 use type from snapshot2
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
Labels: 3.3.x, @dataprep, enhancement, testbed4

#2771 #1798 decide column count only by the first line
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/csv/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepFileUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepJsonUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepParseResult.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/json/PrepJsonParseResult.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvInputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvOutputTest.java
Labels: 3.3.x, @dataprep, enhancement

#2772 #0 fix snapshot list loads infinitely
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot.component.ts
Labels: 3.3.x, @dataprep, bug, testbed4

#2773 fix can add an aggregate rule without group
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-aggregate.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRuleService.java
Labels: 3.3.x, @dataprep, bug, testbed4

#2774 #2063 adding union rule shows field type as icon correctly (#2674)
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-union-popup/rule-union-popup.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: 3.3.x, @dataprep, bug, testbed4

#2775 #2517 big refactoring (Exception handling, dividing mega classes, etc.)
  discovery-frontend/src/app/data-preparation/component/snapshot-loading.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataflow.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDatasetProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrSnapshot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrSnapshotProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/SparkExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyDatabaseService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecCallback.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepFileUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepJsonUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDataflowController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/Histogram.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/util/DbInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/util/HiveInfo.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/util/PrepUtil.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvOutputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/OrcTest.java
Labels: 3.3.x, @dataprep, refactoring, testbed4

#2776 #2610 preview reload problem (#2704)
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
Labels: 3.3.x, @dataprep, bug, testbed4

#2777 #2293 cannot close preview result (#2707)
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.html
Labels: 3.3.x, @dataprep, bug, testbed2

#2778 #2530 contains function explanation was corrected
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepRuleChecker.java
Labels: 3.3.x, @dataprep, bug, testbed5

#2780 #2705 when generate a new dataset, add sequence for distinction
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: 3.3.x, @dataprep, bug

#2781 #2640 unify charset detecting code (#2715)
  discovery-frontend/src/app/meta-data-management/lineage/component/create-lineage-upload-file.component.ts
  discovery-frontend/src/app/meta-data-management/lineage/service/lineage.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepFileUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvInputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvOutputTest.java
Labels: 3.3.x, @dataprep, refactoring, testbed4

#2782 #1750 unify null representations in datapreparation (#2738)
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
  discovery-frontend/src/app/data-preparation/util/preparation-common.util.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
Labels: 3.3.x, @dataprep, bug, testbed2

#2783 #2748 Use fetch size and set auto_commit=false for PostgreSQL
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/connector/PostgresqlJdbcConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyDatabaseService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: 3.3.x, @dataprep, bug, testbed5

#2784 #2753 checking the status of snapshot is repeated
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
Labels: 3.3.x, @dataprep, bug, testbed3

#2785 #2752 Fix null value representation in ORC files
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyOrcWriter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfDerive.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSet.java
Labels: 3.3.x, @dataprep, bug, testbed5

#2763 #2745 When you create a new map view widget, 'Custom Color range' does not reset
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
Labels: @chart, testbed1
