Repository metatron-app/metatron-discovery, pull requests merged in 2019-11, with the labels that each got.

#2789 #2476 show an error when fetch failed by connection
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
Labels: @dataprep, testbed3

#2812 Fix ingestion append parameter
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/granularity/UniformGranularitySpec.java
Labels: @datasource

#2796 #2795 Read less bytes to get charset. Reduce size of preview grid.
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepFileUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetService.java
Labels: @dataprep, bug, need to cherry-pick

#2790 #2746 'Color by' values are not kept when setting layer in map view chart
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
Labels: @chart, need to cherry-pick, testbed3

#2791 #2760 fill condition automatically using histogram bar selection
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-context-menu.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformRuleService.java
Labels: @dataprep

#2731 #2728 In the workbench created with a druid connection, if you use Hangul in the conditional statement when querying the druid, there is no query result
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/util/AvaticaQueryEncoder.java
Labels: @workbench, testbed1

#2808 #2230 Too much space in dataset swap pop-up
  discovery-frontend/src/app/data-preparation/component/dataset-summary.component.html
  discovery-frontend/src/app/data-preparation/component/dataset-summary.component.ts
Labels: @dataprep

#2820 change select query type (select -> select.stream) for searching original data
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineQueryService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/TimestampField.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectStreamQuery.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectStreamQueryBuilder.java
  discovery-server/src/main/resources/logback-console.xml
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @datasource, need to cherry-pick, testbed3

#2800 F#1976 snapshot as sql script
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.html
  discovery-frontend/src/app/data-preparation/component/create-snapshot-popup.component.ts
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.html
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot-detail.component.ts
  discovery-frontend/src/app/data-preparation/data-snapshot/service/data-snapshot.service.ts
  discovery-frontend/src/app/data-preparation/util/preparation-common.util.ts
  discovery-frontend/src/app/domain/data-preparation/pr-snapshot.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrSnapshot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepSqlUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
Labels: @dataprep, testbed2

#2818 #2066 apply timestamp format to file type snapshots
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/SparkExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, bug, need to cherry-pick, testbed4

#2827 F#2806 exploration catalog css bug
  discovery-frontend/src/app/explore-data/explore-data/component/explore-card.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-lnb.component.html
  discovery-frontend/src/app/explore-data/explore-data/explore-data-lnb.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data-main.component.html
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, testbed4

#2823 #2804 Preview row count error when downloading original data in chart
  discovery-frontend/src/app/common/component/data-download/data.download.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, testbed1

#2794 #2764 Add permissions to Lnb extension configuration
  discovery-frontend/src/app/common/domain/extension.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/domain/extension/ExtensionProperties.java
Labels: @common, testbed5

#2836 #2835 create csv dataset with quote character
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectfile.component.ts
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.html
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-selectsheet.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/domain/data-preparation/pr-dataset.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDataset.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/entity/PrDatasetProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepCsvUtil.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrSnapshotService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeController.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvInputTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/csv/ApacheCommonsCsvOutputTest.java
Labels: @dataprep, testbed5

#2811 #1442 add color inversion to color template
  discovery-frontend/src/app/common/component/chart/option/define/common.ts
  discovery-frontend/src/app/common/component/color-picker/color-template.component.html
  discovery-frontend/src/app/common/component/color-picker/color-template.component.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @dashboard, testbed2

#2833 #2824 fix add new notebook server
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/HttpRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/JupyterConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/ZeppelinConnector.java
Labels: @notebook, testbed4

#2831 #1417 engine monitoring query
  discovery-frontend/src/app/data-storage/component/criterion/criterion.component.ts
  discovery-frontend/src/app/domain/datasource/criteria.ts
  discovery-frontend/src/app/engine-monitoring/component/header-menu/header-menu.component.html
  discovery-frontend/src/app/engine-monitoring/component/header/header.component.html
  discovery-frontend/src/app/engine-monitoring/component/query/query.component.html
  discovery-frontend/src/app/engine-monitoring/component/query/query.component.ts
  discovery-frontend/src/app/engine-monitoring/engine-monitoring.component.html
  discovery-frontend/src/app/engine-monitoring/engine-monitoring.module.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/query/query.component.html
  discovery-frontend/src/app/engine-monitoring/query/query.component.ts
  discovery-frontend/src/app/engine-monitoring/service/engine.service.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/btn_log.png
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoring.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringCriterionKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringQueryRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/monitoring/EngineMonitoringService.java
Labels: @engine-monitoring, testbed2

#2826 F#2758 show more info in column and code table
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.html
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-columns.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/detail-code-table/detail-code-table.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/component/choose-code-table/choose-code-table.component.html
  discovery-frontend/src/app/meta-data-management/component/choose-column-dictionary/choose-column-dictionary.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/app/meta-data-management/meta-data-management.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-top.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/component/component.form.css
  discovery-frontend/src/assets/css/theme_dark/component/component.search.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, testbed3

#2842 #756 apply liquibase for schema management
  discovery-server/pom.xml
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/db/changelog/db.changelog-master.xml
  discovery-server/src/main/resources/db/changelog/discovery.changelog-3.4.0.xml
  discovery-server/src/main/resources/db/changelog/discovery.changelog-initial.xml
  discovery-server/src/main/resources/liquibase-diff-hibernate.yaml
  discovery-server/src/main/resources/liquibase-diff.yaml
  discovery-server/src/main/resources/liquibase-generate.yaml
  pom.xml
Labels: @common, testbed2

#2843 #2756 add column(quote_char) to pr_dataset
  discovery-server/src/main/resources/db/changelog/discovery.changelog-3.4.0.xml
Labels: @common, testbed2

#2850 Fn fix codetable,dictionary time filter error
  discovery-frontend/src/app/common/component/period/period.component.html
  discovery-frontend/src/app/common/component/period/period.component.ts
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.html
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.ts
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/column-dictionary.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/CodeTablePredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/ColumnDictionaryPredicate.java
Labels: @metadata, testbed4

#2846 fix code table, column dictionary, chart color setting css error
  discovery-frontend/src/app/meta-data-management/code-table/code-table.component.html
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/component/component.form.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
Labels: @metadata, testbed3

#2845 #2821 Hive personal database improvement
  discovery-server/src/main/java/app/metatron/discovery/common/ConnectionConfigProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/accessor/HiveDataAccessor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/HiveDialect.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/hive/DataTableHiveRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/hive/HivePersonalDatasource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/hive/WorkbenchHiveService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/util/WorkbenchDataSource.java
  discovery-server/src/main/java/app/metatron/discovery/util/ApplicationContextProvider.java
  discovery-server/src/test/java/app/metatron/discovery/TestLocalHdfs.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/WorkbenchRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/hive/DataTableHiveRepositoryTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbench/hive/WorkbenchHiveServiceTest.java
  discovery-server/src/test/resources/sql/workbench.sql
Labels: @datasource, testbed2

#2849 #fix engine monitoring error and datasource detail
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/graph.component.ts
  discovery-frontend/src/app/engine-monitoring/overview/component/node-information.component.html
  discovery-frontend/src/app/engine-monitoring/overview/component/node-information.component.ts
  discovery-frontend/src/app/engine-monitoring/util/engine-monitoring.util.ts
Labels: @engine-monitoring, testbed5

#2852 #2756 remove initial profile
  README.md
  discovery-distribution/bin/metatron.sh
  discovery-server/src/main/resources/application.yaml
Labels: @common, testbed1

#2858 #fix paging of the dataflow list on return from the dataflow detail page
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/dataflow-detail2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/service/dataflow.service.ts
Labels: @dataprep, testbed1

#2859 #2844 blank grid on multiple rename page
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/multiple-rename-popup.component.ts
Labels: @dataprep, bug, testbed2

#2861 #fix there is no margin at the top of dataflow list
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.html
Labels: @dataprep, bug

#2868 Added 'VIEW' table count target of Postgresql.
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/PostgresqlDialect.java
Labels: @workbench, need to cherry-pick, testbed5

#2864 Backward compatibility of connection information in Linked DataSource
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/preview/MetadataJdbcDataPreview.java
Labels: @metadata, testbed4

#2862 Fn fix exploration chart metadata css error
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.ts
  discovery-frontend/src/app/common/component/period/period.component.ts
  discovery-frontend/src/app/explore-data/explore-data/explore-data.component.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-sample-data.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/metadata-grid.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/assets/css/theme_dark/metatron/page.css
Labels: @metadata, testbed1

#2872 Fix missing command
  discovery-distribution/bin/common.sh
  discovery-distribution/bin/metatron.sh
  discovery-distribution/conf/metatron-env.sh.templete
Labels: @common

#2874 #2873 extract as nulls when not found instead of empty strings
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfExtract.java
Labels: @dataprep, bug, testbed1

#2883 F#2879 fix extract behavior
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfCountPattern.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfExtract.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfReplace.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSplit.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/Row.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyUtil.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/AggregateTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/DataFrameTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/DeriveTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/FunctionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/HistogramTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/OrcTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/PivotTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/ReplaceExtractTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/SetTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/SetTypeTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/SplitTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/TeddyTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/UnionTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/UnstructuredTest.java
  discovery-server/src/test/resources/jsonTest.json
  discovery-server/src/test/resources/teddy/sales_named.csv
  discovery-server/src/test/resources/teddy/sales_regex_test.csv
  discovery-server/src/test/resources/teddy/sample_split.csv
Labels: @dataprep, bug, testbed1

#2888 #2878 a failure of any rule makes the editor freeze
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/edit-rule-grid.component.ts
Labels: @dataprep, testbed1

#2890 F#2871 multi key unnest
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.html
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-unnest.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfAggregate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfCountPattern.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfDrop.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfExtract.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfJoin.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfMerge.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfMove.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfNest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfPivot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfRename.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfReplace.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSetType.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSort.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSplit.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfUnnest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfUnpivot.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfWindow.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyUtil.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/DataFrameTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/NestUnnestTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/OrcTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/ReplaceExtractTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/SplitMergeTest.java
Labels: @dataprep, enhancement, testbed1

#2895 #2893 policies of reading json is changed
  discovery-frontend/src/assets/i18n/en.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/file/PrepJsonUtil.java
Labels: @dataprep, testbed1

#2899 fix Quartz initial script
  discovery-server/src/main/resources/db/changelog/discovery.changelog-initial.xml
  discovery-server/src/main/resources/db/changelog/quartz/tables_h2.sql
  discovery-server/src/main/resources/db/changelog/quartz/tables_mysql.sql
  discovery-server/src/main/resources/db/changelog/quartz/tables_mysql_innodb.sql
  discovery-server/src/main/resources/db/changelog/quartz/tables_oracle.sql
  discovery-server/src/main/resources/db/changelog/quartz/tables_postgres.sql
  discovery-server/src/main/resources/db/changelog/quartz/tables_sqlServer.sql
Labels: @common, bug, testbed5

#2875 F#1656 fix metadata guide message
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/information/information.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/information/information.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.html
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, @metadata, testbed2

#2876 #2426 - add confirm modal when navigate
  discovery-frontend/src/app/common/common.module.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-frontend/src/app/explore-data/explore-data.module.ts
  discovery-frontend/src/app/explore-data/explore-data/popup/metadata-container.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/metadata-detail-information.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, @metadata, testbed3

#2898 Bug-fix on unnest. Implement auto-typing by value
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrame.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfMerge.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfUnnest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/TeddyUtil.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/DataFrameTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/NestUnnestTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/SplitMergeTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/TeddyTest.java
Labels: @dataprep, bug, testbed4

#2912 #2907 dataset swapping behavior change
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
Labels: @dataprep, bug, testbed4
