Repository metatron-app/metatron-discovery, pull requests merged in 2019-06, with the labels that each got.

#2159 #2158 Enable ioConfig in the real-time ingestion spec
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/io/KafkaIoConfig.java
Labels: @datasource

#2161 #2152 fix transfer workspace to user whose name contains dot
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceController.java
Labels: @workspace, testbed2

#2164 #2163 fix script error when creating datasource with file
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
Labels: @datasource, bug, testbed4

#2127 #2045 Users should be able to search for hidden value in filter widget
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/domain/workbook/configurations/filter/inclusion-filter.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @dashboard, testbed1

#2181 #2176 fix infinite loop when list is empty
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.ts
  discovery-frontend/src/app/data-preparation/dataset/dataset.component.ts
Labels: @dataprep, testbed4

#2180 #2179 Conditional register the StorageProperties bean
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/DataConnectionController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetFileService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetStagingDbService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/service/PrDatasetController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/IngestionJobRunner.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/storage/StorageController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/storage/StorageProperties.java
Labels: @datasource, testbed4

#2182 #2177 add oracle extension
  discovery-extensions/README.md
  discovery-extensions/oracle-connection/README.md
  discovery-extensions/oracle-connection/pom.xml
  discovery-extensions/oracle-connection/src/main/assembly/assembly.xml
  discovery-extensions/oracle-connection/src/main/java/app/metatron/discovery/OracleConnectionExtension.java
  discovery-extensions/oracle-connection/src/main/resources/ic_db_oracle.png
  discovery-extensions/oracle-connection/src/main/resources/ic_db_oracle_b.png
  discovery-extensions/oracle-connection/src/main/resources/ic_db_oracle_w.png
  discovery-extensions/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/dialect/HiveDialect.java
Labels: @datasource, testbed2

#2174 #2115 user delete policy
  discovery-frontend/src/app/admin/user-management/component/members/change-workspace-owner-modal/change-workspace-owner-modal.component.html
  discovery-frontend/src/app/admin/user-management/component/members/change-workspace-owner-modal/change-workspace-owner-modal.component.ts
  discovery-frontend/src/app/admin/user-management/component/members/change-workspace-owner-modal/workspace-members-select-box.component.html
  discovery-frontend/src/app/admin/user-management/component/members/change-workspace-owner-modal/workspace-members-select-box.component.ts
  discovery-frontend/src/app/admin/user-management/component/members/detail-member/detail-user-management-members.component.html
  discovery-frontend/src/app/admin/user-management/component/members/user-management-members.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/information/detail-workspace-information.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/component/information/detail-workspace-information.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/detail-workspace.component.html
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/detail-workspace/detail-workspace.component.ts
  discovery-frontend/src/app/admin/workspace-management/component/workspaces/shared-workspaces.component.html
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserProfile.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/GroupProfile.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceService.java
Labels: @common, testbed5

#2040 F#1443 change map chart layer option
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/color-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/define/common.ts
  discovery-frontend/src/app/common/component/chart/option/define/map/map-common.ts
  discovery-frontend/src/app/common/component/chart/option/ui-option/map/ui-layers.ts
  discovery-frontend/src/app/common/component/chart/option/util/option-generator.ts
  discovery-frontend/src/app/common/component/chart/type/line-chart.component.ts
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/common/component/select/select.component.html
  discovery-frontend/src/app/common/component/select/select.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata-column.ts
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.ts
  discovery-frontend/src/app/page/component/analysis/analysis.component.ts
  discovery-frontend/src/app/page/component/analysis/map-spatial/map-spatial.component.html
  discovery-frontend/src/app/page/component/analysis/map-spatial/map-spatial.component.ts
  discovery-frontend/src/app/page/component/analysis/prediction/analysis-prediction.component.html
  discovery-frontend/src/app/page/component/analysis/prediction/analysis-prediction.component.ts
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/bg_maptype.png
  discovery-frontend/src/assets/images/img_maptype2.png
  discovery-server/src/main/java/app/metatron/discovery/KeepAsUnescapeSerializer.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/PivotResultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/file/CsvFileFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/widget/shelf/LayerView.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/CsvParseSpec.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/parser/TsvParseSpec.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/spec/druid/ingestion/parser/ParseSpecTest.java
Labels: @chart, testbed6

#2191 #2177 apply common jdbc module to remove bug when using oracle
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/PrepDatasetDatabaseService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep

#2183 #2168 DataSource for webSocket is not existed
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench, testbed3

#2192 #2178 enhance re-ingestion datasource with file
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/create-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-complete/file-complete.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-configure-schema/file-configure-schema.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-ingestion/file-ingestion.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-ingestion/file-ingestion.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/file-upload.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-select/file-upload.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/service/data-source-create.service.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.layout.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_info3.png
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/ReingestionRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineIngestionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/storage/StorageProperties.java
Labels: @datasource, testbed2

#2193 #1539 Fix database, stagingDB type error in metadata column
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
Labels: @metadata, testbed1

#2197 #fn fill all fields of DataConnection class while dataset creation
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-db-query.component.ts
Labels: @dataprep, need to cherry-pick, testbed3

#2199 Fixed a problem where the create widget button was hidden
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
Labels: @dashboard, testbed2

#2198 #fn changed the query to retrieve table information
  discovery-extensions/oracle-connection/src/main/java/app/metatron/discovery/OracleConnectionExtension.java
Labels: @datasource, testbed1

#2203 #1920 Fix edit field name and css in datasource create step
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @datasource, bug, testbed4

#2205 #fn removing mysql dedicated string template in audit stats query.
  discovery-server/src/main/java/app/metatron/discovery/domain/audit/AuditController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/audit/AuditRepositoryImpl.java
Labels: @datamonitoring, testbed1, to master

#2204 #fn apply result object converter to CsvWriter
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcCSVWriter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/QueryEditorService.java
Labels: @datasource, testbed1

#2225 #fn fix display workbench update user
  discovery-frontend/src/app/workbench/workbench.component.html
Labels: @workbench, testbed3, to master

#2222 Fix datasource and connection ui error
  discovery-frontend/src/app/common/component/input/input.component.html
  discovery-frontend/src/app/common/component/input/input.component.ts
  discovery-frontend/src/app/data-storage/component/criterion/criterion.component.ts
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.html
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.html
  discovery-frontend/src/app/data-storage/data-source-list/data-source-list.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/column-detail-data-source/edit-config-schema.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.filtering.list.css
Labels: @datasource, testbed1, to master

#2221 Fix custom field filter and filter widget errors
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @chart, @dashboard, testbed3

#2202 #1539 Fix css in metadata create step
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/component/metadata-control-complete.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/component/schema-select-box.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-db-complete.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-db-select.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-db-select.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-staging-complete.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-staging-select.component.html
  discovery-frontend/src/app/meta-data-management/metadata/create-metadata/create-metadata-staging-select.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @metadata, bug, testbed2

#2228 #fn fix display workbench update user when initializing the page
  discovery-frontend/src/app/workbench/workbench.component.html
Labels: @workbench, to master

#2220 Fix timestamp column flag in metadata column schema
  discovery-frontend/src/app/domain/meta-data-management/metadata-column.ts
Labels: @metadata, bug, testbed5

#2213 #2045 Add a search to the Filter widget list type and change the color of the search results.
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dashboard

#2209 #fn fix reingestion append
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceController.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/granularity/UniformGranularitySpec.java
Labels: @datasource, testbed4

#2223 #fn represent selected cols when the col-name is enclosed in quotation marks
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule/edit-rule-settype.component.ts
Labels: @dataprep, testbed3, to master

#2224 #fn show histogram correctly for oracle number datatype
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/ColumnType.java
Labels: @dataprep, testbed2, to master

#2219 #fn bug fix bug on header rule
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfHeader.java
Labels: @dataprep, testbed1, to master

#2235 #fn fix csv total row counts
  discovery-server/src/main/java/app/metatron/discovery/util/CommonsCsvProcessor.java
Labels: @datasource, bug, testbed2

#2234 Fix metadata change column error
  discovery-frontend/src/app/domain/meta-data-management/metadata-column.ts
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @metadata, bug, testbed1, to master

#2245 F#2243 show null as missing
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfSet.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/Histogram.java
Labels: @dataprep, testbed1

#2247 #2216 refactoring join code to avoid bugs and slow-down factors
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfJoin.java
Labels: @dataprep, testbed2

#2248 fix typos and add comment for extensions
  discovery-common/src/main/java/app/metatron/discovery/extension/ExtensionInformation.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/ConnectionExtensionInformation.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/JdbcConnectInformation.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/accessor/AbstractJdbcDataAccessor.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/accessor/JdbcAccessor.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/accessor/JdbcRowMapper.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/connector/AbstractJdbcConnector.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/connector/JdbcConnector.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/dialect/JdbcDialect.java
  discovery-extensions/README.md
  discovery-extensions/mssql-connection/pom.xml
  discovery-extensions/oracle-connection/README.md
  discovery-extensions/oracle-connection/pom.xml
Labels: @common

#2249 add document for application properties guide
  discovery-server/src/main/asciidoc/application-config-guide.adoc
Labels: @common

#2251 #2250 change hibernate connection properties
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/logback-console.xml
Labels: @common, testbed5

#2253 Fix error for java 11/12 compatibility
  discovery-server/pom.xml
  discovery-server/src/main/java/app/metatron/discovery/domain/admin/SearchIndexService.java
  pom.xml
Labels: @common, testbed6

#2277 HibernateProxy object unproxy in WorkbenchProjections
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchProjections.java
Labels: @workbench, testbed6

#2267 Fix error for displaying percentage on bar chart series
  discovery-server/src/main/java/app/metatron/discovery/common/MatrixResponse.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/SearchQueryRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/ChartResultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/Pivot.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @chart, testbed2

#2280 #2272 remove execute checker when query exception
  discovery-frontend/src/app/workbench/workbench.component.ts
Labels: @workbench

#2263 #2120 measure data can be replaced with a negative value
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field-detail.component.html
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field-detail.component.ts
  discovery-server/src/main/java/app/metatron/discovery/util/CommonsCsvProcessor.java
Labels: @datasource, testbed4

#2269 #2214 permission schema deleted and set default permission schema
  discovery-frontend/src/app/admin/workspace-management/component/workspace-permission-schemas/detail-permission-schema.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/user/role/RoleSetEventHandler.java
Labels: @common, testbed5

#2284 fix hibernate error in book sub-folder
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/BookProjections.java
Labels: @common, testbed5

#2276 #2242 metadata col dictionary timestamp validation
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
  discovery-frontend/src/app/shared/datasource-metadata/component/datetime-valid-popup.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.table.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/source/MetaSourceService.java
Labels: @metadata, testbed6
