Repository metatron-app/metatron-discovery, pull requests merged in 2019-07, with the labels that each got.

#2287 #2242 fix proxy casting error with MetadataSource
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/source/MetaSourceService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/source/MetadataSourceProjections.java
Labels: @metadata, testbed4

#2255 #2241 implement left, right, full outer joins (+ limit control)
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-prep-parser/src/main/java/app/metatron/discovery/prep/parser/preparation/rule/Join.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrameService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DfJoin.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/exceptions/InvalidJoinTypeException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/teddy/TeddyTest.java
Labels: @dataprep, testbed2

#2275 #2227 add ref to user defined field
  discovery-frontend/src/app/common/component/chart/type/line-chart.component.ts
  discovery-frontend/src/app/page/component/analysis/prediction/analysis-prediction.component.html
  discovery-frontend/src/app/page/component/analysis/prediction/analysis-prediction.component.ts
Labels: @chart, testbed3

#2288 F#2232 back button action on dataflow details
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-dataflow-rule-2.component.ts
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/dataflow-detail2.component.ts
Labels: @dataprep, need to cherry-pick, testbed2

#2273 #2172 metadata sampledata display and download
  discovery-common/src/main/java/app/metatron/discovery/common/data/projection/ColumnDescription.java
  discovery-common/src/main/java/app/metatron/discovery/common/data/projection/ColumnHistogram.java
  discovery-common/src/main/java/app/metatron/discovery/common/data/projection/DataGrid.java
  discovery-common/src/main/java/app/metatron/discovery/common/data/projection/DataHistogram.java
  discovery-common/src/main/java/app/metatron/discovery/common/data/projection/Row.java
  discovery-frontend/src/app/domain/datasource/datasource.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata-column.ts
  discovery-frontend/src/app/domain/meta-data-management/metadata-source.ts
  discovery-frontend/src/app/meta-data-management/detail/component/metadata-grid.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/metadata-grid.component.ts
  discovery-frontend/src/app/meta-data-management/detail/detail.module.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.html
  discovery-frontend/src/app/meta-data-management/metadata/service/metadata.service.ts
  discovery-frontend/src/app/shared/datasource-metadata/domain/type.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/ColumnDescription.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataColumn.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataColumnProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/preview/MetadataDataPreview.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/preview/MetadataEngineDataPreview.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/preview/MetadataJdbcDataPreview.java
Labels: @metadata, testbed4

#2290 #2239 add re-ingestion popup advance setting
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.html
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.form.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_info3.png
Labels: @datasource, testbed2

#2291 to adjust ruldIdx for PREVIEW command
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/rule-join-popup/rule-join-popup.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
Labels: @dataprep, need to cherry-pick, testbed3

#2296 fix column dictionary's name duplicate check
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/ColumnDictionaryController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/ColumnDictionaryPredicate.java
Labels: @metadata, need to cherry-pick, testbed2

#2297 The filter on the filter panel is shifted to the dashboard, causing the grid to skew
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
Labels: @dashboard, need to cherry-pick, testbed3

#2307 #2303 fix default dataconnection icon of extensions
  discovery-frontend/src/app/workbench/workbench.component.ts
  discovery-frontend/src/app/workspace/workspace.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/connection/jdbc/JdbcConnectionService.java
Labels: @workspace, testbed4, to master

#2306 Fix authentication script error in update connection component
  discovery-frontend/src/app/data-storage/data-connection/update-connection.component.ts
Labels: @datasource, bug, testbed4, to master

#2308 Add format placeholder in column dictionary detail
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.html
  discovery-frontend/src/app/meta-data-management/column-dictionary/detail-column-dictionary/detail-column-dictionary.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
Labels: @metadata, bug, testbed4, to master

#2309 Fix dictionary import error in metadata column schema
  discovery-frontend/src/app/meta-data-management/detail/component/column-schema/column-schema.component.ts
Labels: @metadata, bug, testbed4

#2311 fix dataconnection unpublishing checkbox
  discovery-frontend/src/app/data-storage/data-connection/update-connection.component.ts
Labels: @datasource, bug, testbed4, to master

#2301 fix the original name of reserved fields when loading a temporary datasource
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineLoadService.java
Labels: @datasource, testbed1

#2304 fix advance setting folding in reingestion popup
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/file-create-component/file-preview/file-preview.component.html
Labels: @datasource, testbed2

#2305 fix workspace view with status of data storage items
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/Workbench.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbench/WorkbenchProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/WorkBook.java
Labels: @workspace, testbed3

#2313 #2299 disable rollup mode in case of including geo type column
  discovery-frontend/proxy.conf.js
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.html
  discovery-frontend/src/app/data-storage/data-source-list/component/ingestion-setting.component.ts
Labels: @datasource, testbed1

#2310 Fix search logic in dataprep
  discovery-frontend/src/app/data-preparation/dataflow/dataflow-detail/component/edit-dataflow-rule/edit-rule-grid/scroll-loading-grid.model.ts
Labels: @dataprep, testbed6

#2314 fix the count of workbook dashboard in workspace
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/WorkBook.java
Labels: @workspace, testbed5, to master

#2312 fix error that not working selection filter when use prediction
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/page/component/analysis/service/analysis.prediction.service.ts
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: @dashboard, @workspace, testbed4

#2318 If the metadata column type is null, add exception handling
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/preview/MetadataDataPreview.java
Labels: @metadata, bug, testbed2

#2320 fix the custom field name of a chart can not be a reserved word
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.html
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @dashboard, testbed1

#2286 #2153 Improve 'All option' in filter in dashboard
  discovery-frontend/src/app/dashboard/dashboard-share.module.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-multi-select/filter-multi-select.component.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/assets/css/metatron/component/component.search.css
  discovery-frontend/src/assets/css/metatron/component/component.selectbox.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/images/icon_eyes.png
  discovery-frontend/src/assets/images/icon_info3.png
Labels: @dashboard, testbed3

#2321 fix exceptionhandler to include HttpMessageNotWritableException
  discovery-server/src/main/java/app/metatron/discovery/common/exception/RestExceptionHandler.java
Labels: @common, to master

#2325 fix setting cookie domain in external login page
  discovery-server/src/main/resources/templates/api/oauth/login.html
Labels: @common, bug, testbed2

#2319 F#2142 lineage view - Metadata Level
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.html
  discovery-frontend/src/app/data-preparation/dataset/dataset-detail.component.ts
  discovery-frontend/src/app/data-preparation/dataset/service/dataset.service.ts
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-column-view.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-column-view.component.ts
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.html
  discovery-frontend/src/app/meta-data-management/detail/component/lineage-view/lineage-view.component.ts
  discovery-frontend/src/app/meta-data-management/detail/detail.module.ts
  discovery-frontend/src/app/meta-data-management/detail/service/lineage-view.service.ts
  discovery-frontend/src/app/meta-data-management/metadata/metadata-detail.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/mdm/png/icon_table.png
  discovery-frontend/src/assets/images/mdm/png/icon_table_focus.png
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/exceptions/PrepMessageKey.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/repository/PrDatasetRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/PrepTransformService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/transform/TeddyImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdge.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/lineage/LineageMapNode.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/rest/PrDatasetRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/dataprep/rest/PrepTransformRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/mdm/lineage/LineageEdgeRestIntegrationTest.java
  discovery-server/src/test/resources/csv/test_lineage.csv
  discovery-server/src/test/resources/sql/test_mdm.sql
Labels: @dataprep, testbed2

#2332 #2331 fix adding a map view chart to the dashboard
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
Labels: @dashboard, bug, testbed3

#2345 #f2335 column info in snapshot
  discovery-distribution/extensions/.gitignore
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/etl/TeddyExecutor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/dataprep/teddy/DataFrameService.java
Labels: @dataprep, testbed3

#2340 #2322 Filter Popup Enhancements
  discovery-frontend/src/app/dashboard/filters/configure-filters-update.component.html
  discovery-frontend/src/app/dashboard/filters/configure-filters-update.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
Labels: @dashboard, testbed6

#2349 #2342 fix kpi chart value and spelling mistake
  discovery-frontend/src/app/common/component/chart/type/label-chart.component.ts
  discovery-frontend/src/assets/i18n/en.json
Labels: @chart, testbed3

#2358 #2323 change pop-up title when deleting data connection
  discovery-frontend/src/app/data-storage/data-connection/data-connection.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @datasource, testbed1

#2356 #2294 check timestamp datasource column
  discovery-frontend/src/app/data-storage/component/schema-configure/schema-configure-field-detail.component.ts
  discovery-frontend/src/app/data-storage/service/granularity.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/format/DateTimeFormatChecker.java
Labels: @datasource, testbed5

#2364 support external logout
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
Labels: @common

#2365 #2363 add size parameter for StageDB's table list
  discovery-frontend/src/app/dataconnection/service/dataconnection.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/dataconnection/accessor/HiveDataAccessorUsingMetastore.java
Labels: @datasource, need to cherry-pick, testbed5

#2362 #2086 reset value alias changes
  discovery-frontend/src/app/page/page-pivot/popup-value-alias.component.html
  discovery-frontend/src/app/page/page-pivot/popup-value-alias.component.ts
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @chart, testbed3

#2339 F#2298 generate metadata when datasource enabled
  discovery-frontend/src/app/data-storage/constant/data-storage-constant.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/detail-data-source.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/component/ingestion-log/ingestion-log.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.html
  discovery-frontend/src/app/data-storage/data-source-list/detail-data-source/information-dats-source/information-data-source.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/DataSourceEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/ingestion/job/IngestionJobRunner.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mdm/MetadataService.java
Labels: @metadata, testbed4

#2361 #2360 Error adding or changing global variables in workbench
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/Workspace.java
Labels: @workbench, testbed1

#2370 Fix dataflow next page error.
  discovery-frontend/src/app/data-preparation/dataflow/dataflow.component.ts
Labels: @dataprep, testbed3

#2295 Update zh.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @common, testbed6

#2346 #2240 change to url mode when creating notebook server
  discovery-frontend/src/app/domain/notebook/notebook.ts
  discovery-frontend/src/app/domain/notebook/notebookConnector.ts
  discovery-frontend/src/app/model-management/notebook-server/add-notebook-server/add-notebook-server.component.html
  discovery-frontend/src/app/model-management/notebook-server/add-notebook-server/add-notebook-server.component.ts
  discovery-frontend/src/app/model-management/notebook-server/notebook-server.component.html
  discovery-frontend/src/app/model-management/notebook-server/service/notebook-server.service.ts
  discovery-frontend/src/app/workspace/component/etc/set-notebook-server.component.html
  discovery-frontend/src/app/workspace/component/etc/set-notebook-server.component.ts
  discovery-frontend/src/assets/css/polaris.v2.component.css
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/grid/images/icon_array.png
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NoteBookConnectorProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NotebookConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NotebookConnectorEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/JupyterConnector.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/ZeppelinConnector.java
Labels: @notebook, testbed2

#2367 #2366 improve the shared workspace list
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceController.java
Labels: @workspace, testbed5

#2374 #2240 improve notebook server list ui
  discovery-frontend/src/app/model-management/notebook-server/notebook-server.component.html
  discovery-frontend/src/app/notebook/component/create-notebook/create-notebook-name/create-notebook-name.component.ts
  discovery-frontend/src/assets/images/icon_array.png
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NotebookErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/NotebookException.java
  discovery-server/src/main/java/app/metatron/discovery/domain/notebook/connector/HttpRepository.java
Labels: @notebook, testbed2

#2376 Fix chart filter css and message
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
  discovery-frontend/src/assets/i18n/en.json
Labels: @chart, testbed1

#2380 Fn fix chart value format
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
Labels: @chart, testbed4

#2385 Fix snapshot loading and add name title
  discovery-frontend/src/app/data-preparation/data-snapshot/data-snapshot.component.ts
  discovery-frontend/src/app/workspace/workspace.component.html
  discovery-frontend/src/assets/css/polaris.v2.page.css
Labels: bug, testbed2

#2387 fix joblog more than elapsedtime condition
  discovery-server/src/main/java/app/metatron/discovery/domain/audit/AuditPredicate.java
Labels: testbed5
