Repository metatron-app/metatron-discovery, pull requests merged in 2020-06, with the labels that each got.

#3226 Security log improvements
  discovery-frontend/src/app/layout/layout/component/gnb/gnb.component.ts
  discovery-frontend/src/app/user/service/user.service.ts
  discovery-server/src/main/java/app/metatron/discovery/common/StatLogger.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/BasicTokenExtractor.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CookieManager.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomWebResponseExceptionTranslator.java
  discovery-server/src/main/java/app/metatron/discovery/common/revision/CustomEnversPostInsertEventListener.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/revision/MetatronRevisionDto.java
Labels: @common, testbed1

#3235 account lock on repeated login failures
  discovery-frontend/src/app/common/component/modal/confirm-small/confirm-small.component.html
  discovery-frontend/src/app/common/component/modal/confirm-small/confirm-small.component.ts
  discovery-frontend/src/app/user/login/component/oauth/oauth.component.html
  discovery-frontend/src/app/user/login/login.component.html
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomDaoAuthenticationProvider.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomUserStatusChecker.java
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLUserDetailsServiceImpl.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/User.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserPasswordProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserService.java
  discovery-server/src/main/java/app/metatron/discovery/util/PolarisUtils.java
  discovery-server/src/main/resources/db/changelog/discovery.changelog-3.4.0.xml
  discovery-server/src/main/resources/messages/metatron_security_messages.properties
  discovery-server/src/main/resources/messages/metatron_security_messages_en.properties
  discovery-server/src/main/resources/messages/metatron_security_messages_ko.properties
Labels: @common, testbed1

#3237 fix column type of user_fail_cnt
  discovery-server/src/main/resources/db/changelog/discovery.changelog-3.4.0.xml
Labels: @common, testbed2

#3229 add granularity options - peroid, duration (only Search API)
  discovery-server/src/main/asciidoc/api-datasource-query-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/DataQueryController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/SqlQueryRequest.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/PivotResultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/DruidEngineRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/EngineQueryService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/engine/QueryService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/MeasureField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/TimestampField.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/TimeFieldFormat.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/Granularity.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/granularities/AbstractGranularity.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/granularities/DurationGranularity.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/granularities/PeriodGranularity.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/granularities/SimpleGranularity.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/SelectStreamQueryBuilder.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: testbed1

#3238 oAuth timeout and client whitelist using infinispan cache
  discovery-frontend/src/app/app.module.ts
  discovery-frontend/src/app/common/common.module.ts
  discovery-frontend/src/app/common/interceptor/loader-interceptor.ts
  discovery-frontend/src/app/common/service/abstract.service.ts
  discovery-frontend/src/app/common/util/alert.util.ts
  discovery-frontend/src/app/user/login/login.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomWebResponseExceptionTranslator.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/OauthProperties.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/JwtTokenUtil.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/AccessTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/RefreshTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/WhitelistTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/RefreshTokenRetentionFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/WhitelistAuthenticationFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/store/RefreshRetentionJwtTokenStore.java
  discovery-server/src/main/java/app/metatron/discovery/config/InfinispanCacheConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/config/SchedulingConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/admin/CacheAdminController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/common/OAuthCacheOutJob.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/User.java
  discovery-server/src/main/java/app/metatron/discovery/util/HttpUtils.java
Labels: @common, testbed2

#3244 Support organization API interface
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/common/PageImplJacksonSerializer.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomDaoAuthenticationProvider.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomUserStatusChecker.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/CollectionPatch.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/AbstractDirectoryProfile.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/CachedUserService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/DirectoryProfile.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/User.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserEventHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserPasswordProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserProfile.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/Group.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/GroupController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/group/GroupProfile.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/Organization.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationMember.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationMemberProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationMemberRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationPredicate.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationRepository.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationRepositoryExtends.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationRepositoryImpl.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/org/OrganizationService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/FieldFormat.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/RelayStringFormat.java
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/AbstractSpecBuilder.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/main/resources/db/changelog/discovery.changelog-3.4.0.xml
  discovery-server/src/main/resources/liquibase-diff-hibernate.yaml
  discovery-server/src/main/resources/liquibase-generate.yaml
  discovery-server/src/main/resources/logback-console.xml
  discovery-server/src/test/java/app/metatron/discovery/domain/user/UserRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/user/group/GroupRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/user/org/OrganizationRestIntegrationTest.java
  discovery-server/src/test/resources/sql/test_organization.sql
Labels: @common, testbed1

#3245 Notify users when they log in to another device
  discovery-frontend/src/app/common/component/modal/confirm-small/confirm-small.component.html
  discovery-frontend/src/app/common/service/abstract.service.ts
  discovery-frontend/src/app/common/util/alert.util.ts
  discovery-frontend/src/app/user/login/component/oauth/oauth.component.html
  discovery-frontend/src/app/user/login/component/oauth/oauth.component.ts
  discovery-frontend/src/app/user/login/login.component.html
  discovery-frontend/src/app/user/login/login.component.ts
  discovery-frontend/src/app/user/profile/change-password/change-password.component.ts
  discovery-frontend/src/app/user/service/user.service.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/pom.xml
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/MetatronDiscoveryApplication.java
  discovery-server/src/main/java/app/metatron/discovery/common/StatLogger.java
  discovery-server/src/main/java/app/metatron/discovery/common/exception/GlobalExceptionHandler.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomBearerTokenExtractor.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomWebResponseExceptionTranslator.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/JwtTokenUtil.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/AccessTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedAccessToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedRefreshToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedWhitelistToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/RefreshTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/WhitelistTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/RefreshTokenRetentionFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/WhitelistAuthenticationFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/service/CustomDefaultTokenService.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/store/RefreshRetentionJwtTokenStore.java
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLTokenConverter.java
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLUserDetailsServiceImpl.java
  discovery-server/src/main/java/app/metatron/discovery/common/web/OauthFilter.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/MainApplicationConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/admin/CacheAdminController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/common/OAuthCacheOutJob.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserPasswordProperties.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserProjections.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserService.java
  discovery-server/src/main/resources/logback-console.xml
  discovery-server/src/main/resources/logback-file.xml
  discovery-server/src/main/resources/templates/api/oauth/login.html
  discovery-server/src/test/java/app/metatron/discovery/core/oauth/OAuthTestExecutionListener.java
  discovery-server/src/test/java/app/metatron/discovery/domain/user/UserRestIntegrationTest.java
Labels: @common, testbed1

#3267 masking stagedb connection's user info
  discovery-server/src/main/java/app/metatron/discovery/domain/storage/StorageController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/storage/StorageProperties.java
Labels: @datasource, testbed2
