Repository metatron-app/metatron-discovery, pull requests merged in 2020-03, with the labels that each got.

#3107 Adjust filtering start/end timestamp when specifying relative filter
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRelativeFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/TimeFieldFormat.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRelativeFilterTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/format/TimeFieldFormatTest.java
Labels: @dashboard, testbed1

#3126 change metatron nexus url to nexus.metatron.app
  pom.xml
Labels: @common

#3121 #3111 change external login page
  discovery-frontend/src/assets/images/oauth/logo.svg
  discovery-frontend/src/assets/images/oauth/metatron.png
  discovery-frontend/src/assets/images/oauth/metatron_grandview.svg
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CookieManager.java
  discovery-server/src/main/java/app/metatron/discovery/common/saml/CustomSecurityContextLogoutHandler.java
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLAuthenticationSuccessHandler.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashBoardController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetController.java
  discovery-server/src/main/resources/messages/messages_en.properties
  discovery-server/src/main/resources/messages/messages_ko.properties
  discovery-server/src/main/resources/templates/api/oauth/login.html
Labels: @common, testbed2

#3123 fixed typo
  discovery-frontend/src/app/common/service/abstract.service.ts
  discovery-frontend/src/app/user/service/user.service.ts
Labels: @common, testbed3

#3112 #3057 set enginename in dashboard
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/service/widget.service.ts
  discovery-frontend/src/app/dashboard/util/dashboard.util.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
Labels: @dashboard, testbed1
