Repository metatron-app/metatron-discovery, pull requests merged in 2020-02, with the labels that each got.

#3039 #3015 Support for AWS Athena Connection via JDBC
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/accessor/AbstractJdbcDataAccessor.java
  discovery-common/src/main/java/app/metatron/discovery/extension/dataconnection/jdbc/connector/AbstractJdbcConnector.java
  discovery-extensions/athena-connection/README.md
  discovery-extensions/athena-connection/pom.xml
  discovery-extensions/athena-connection/src/main/assembly/assembly.xml
  discovery-extensions/athena-connection/src/main/java/app/metatron/discovery/AthenaConnectionExtension.java
  discovery-extensions/pom.xml
  discovery-frontend/src/app/data-storage/component/connection/connection.component.ts
Labels: @datasource, testbed2

#3052 #3040 use engineName parameter for user-defined validation
  discovery-frontend/src/app/dashboard/component/custom-field/custom-field.component.ts
Labels: @dashboard, testbed2

#3053 #3049 In case of real-time dashboard, cache should not used
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
Labels: @dashboard, testbed3

#3063 Remove unnecessary expression substitution
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/field/ExpressionField.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/polaris/ComputationalField.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/query/polaris/ComputationalFieldTest.java
Labels: @dashboard, testbed4

#3058 #3054 fix Bugs relative to TimeFilter on Dashboard
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.ts
  discovery-frontend/src/app/dashboard/filters/essential-filter/essential-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.html
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @dashboard, testbed2

#2801 #2765 apply white label
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/logo/lnb-logo.component.css
  discovery-frontend/src/app/layout/layout/component/logo/lnb-logo.component.html
  discovery-frontend/src/app/layout/layout/component/logo/lnb-logo.component.ts
  discovery-frontend/src/app/layout/layout/layout.module.ts
  discovery-frontend/src/app/user/login/component/logo/login-logo.component.css
  discovery-frontend/src/app/user/login/component/logo/login-logo.component.html
  discovery-frontend/src/app/user/login/component/logo/login-logo.component.ts
  discovery-frontend/src/app/user/login/login.component.html
  discovery-frontend/src/app/user/user.module.ts
  discovery-server/src/main/asciidoc/change-logo-guide.adoc
Labels: @common, testbed4
