Repository metatron-app/metatron-discovery, pull requests merged in 2020-07, with the labels that each got.

#3268 Fix token extension when check_token is called
  discovery-frontend/src/app/user/login/component/oauth/oauth.component.ts
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomBearerTokenExtractor.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/CustomWebResponseExceptionTranslator.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/TokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/WhitelistTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/RefreshTokenRetentionFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/service/CustomDefaultTokenService.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/store/RefreshRetentionJwtTokenStore.java
  discovery-server/src/main/java/app/metatron/discovery/config/InfinispanCacheConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/common/OAuthCacheOutJob.java
  discovery-server/src/main/java/app/metatron/discovery/util/HttpUtils.java
Labels: @common, testbed1

#3278 fix error for calculating user-defined field
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/PivotResultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/AbstractQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
  discovery-server/src/main/java/app/metatron/discovery/query/polaris/ComputationalField.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
Labels: @chart, testbed2

#3280 fix error for missing user defined field
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed1

#3282 #3022 add cors filter for oauth
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
Labels: @common, testbed2

#3277 #3266 Fix filter not working error
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
Labels: @dashboard, testbed1

#3286 #3266 Fix error of filter function
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.html
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.html
  discovery-frontend/src/app/layout/layout/component/lnb/lnb.component.ts
Labels: @dashboard, testbed1

#3298 #3295 support responsive web of external login page
  discovery-frontend/angular.json
  discovery-frontend/proxy.conf.js
  discovery-frontend/src/app/common/component/modal/confirm-small/confirm-small.component.html
  discovery-frontend/src/app/user/login/component/oauth/oauth.component.ts
  discovery-frontend/src/app/user/login/login.component.ts
  discovery-server/src/main/java/app/metatron/discovery/common/saml/SAMLTokenConverter.java
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserController.java
  discovery-server/src/main/resources/messages/messages_en.properties
  discovery-server/src/main/resources/messages/messages_ko.properties
  discovery-server/src/main/resources/templates/api/oauth/login.html
  discovery-server/src/main/resources/templates/api/static/jquery.min.js
  discovery-server/src/main/resources/templates/api/static/login.css
  discovery-server/src/main/resources/templates/api/static/login.jpg
  discovery-server/src/main/resources/templates/api/static/moment.min.js
Labels: @common, testbed1

#3301 #3290 separate oauth timeout by clientId
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/common/cache/CacheListener.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/AccessTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedAccessToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedRefreshToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/CachedWhitelistToken.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/RefreshTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/TokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/cache/WhitelistTokenCacheRepository.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/RefreshTokenRetentionFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/filter/WhitelistAuthenticationFilter.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/service/CustomDefaultTokenService.java
  discovery-server/src/main/java/app/metatron/discovery/common/oauth/token/store/RefreshRetentionJwtTokenStore.java
  discovery-server/src/main/java/app/metatron/discovery/common/web/OauthFilter.java
  discovery-server/src/main/java/app/metatron/discovery/config/InfinispanCacheConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuth2ServerConfig.java
  discovery-server/src/main/java/app/metatron/discovery/config/OAuthInterceptor.java
  discovery-server/src/main/java/app/metatron/discovery/domain/admin/CacheAdminController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/OauthClientInformation.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/common/OAuthCacheOutJob.java
Labels: @common, testbed1

#3302 fix error for editing chart using join datasources
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, @dashboard, testbed2
