Repository metatron-app/metatron-discovery, pull requests merged in 2021-06, with the labels that each got.

#3704 fix on data connection creation and editing pages
  discovery-frontend/src/app/data-storage/data-connection/create-connection.component.ts
  discovery-frontend/src/app/data-storage/data-connection/update-connection.component.ts
Labels: @datasource, testbed1

#3703 fix searching task list in engine monitoring
  discovery-frontend/src/app/domain/engine-monitoring/task.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/supervisor/supervisor-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.html
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task-detail.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/component/task/task.component.ts
  discovery-frontend/src/app/engine-monitoring/ingestion/ingestion.component.ts
  discovery-frontend/src/app/engine-monitoring/query/query.component.ts
  discovery-frontend/tslint.json
Labels: @engine-monitoring, testbed2

#3707 fixed infinite call issue when clearing filter
  discovery-frontend/src/app/common/util/common.util.ts
  discovery-frontend/src/app/dashboard/filters/component/filter-select/filter-select.component.ts
Labels: @dashboard, testbed2

#3706 fix script error when create dataset
  discovery-frontend/src/app/data-preparation/dataset/create-dataset/create-dataset-name.component.ts
Labels: @dataprep, testbed2

#3725 #3720 Add numeric format for each measure in kpi chart
  discovery-frontend/src/app/common/component/chart/type/label-chart.component.ts
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.html
Labels: @chart, testbed2

#3728 #3726 Adjust horizontal scroll in grid and Fixed an issue where zeros were not displayed
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
  discovery-frontend/src/lib/pivot-grid/pivot.view.css
Labels: @chart, testbed2

#3727 #3721 Add color settings for measures in kpi charts
  discovery-frontend/src/app/common/component/chart/option/util/option-generator.ts
  discovery-frontend/src/app/common/component/chart/type/label-chart.component.html
  discovery-frontend/src/app/common/component/chart/type/label-chart.component.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/color-option.component.ts
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.html
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart, testbed1

#3702 #3687 change datasource in dashboard
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/common/component/data-preview/data.preview.component.html
  discovery-frontend/src/app/common/util/loading.util.ts
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-ds-select.component.html
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-ds-select.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-datasource-combo.component.html
  discovery-frontend/src/app/dashboard/component/dashboard-datasource-combo.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.html
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/dashboard.module.ts
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.html
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/service/dashboard.service.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.html
  discovery-frontend/src/app/datasource/component/datasource-summary/datasource-summary.component.ts
  discovery-frontend/src/app/page/page-view.component.html
  discovery-frontend/src/app/page/page.component.html
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashBoardController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashBoardService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/BoardConfiguration.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/datasource/MultiDataSource.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetService.java
Labels: @dashboard, testbed1

#3737 #3736 Modify subtotal field width adjustment function
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed1

#3732 #3718 change multi series tooltip
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
Labels: @chart, testbed1

#3738 Change the button position adjustment timing
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
Labels: @dashboard, testbed1

#3733 #3729 korean support abbreviations
  discovery-frontend/src/app/app.component.ts
  discovery-frontend/src/app/common/component/chart/option/converter/format-option-converter.ts
  discovery-frontend/src/app/common/component/chart/option/define/common.ts
  discovery-frontend/src/app/common/component/chart/type/grid-chart.component.ts
  discovery-frontend/src/app/page/chart-style/format/abstract-format-item.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/format/NumberFieldFormat.java
Labels: @chart, testbed2

#3743 #3741 Fixed an issue where time filters were not applied
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
Labels: @dashboard, testbed1

#3746 #3745 Tooltips are not displayed properly.
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
Labels: @dashboard, testbed1

#3740 #3717 Added ability to change default size of filter list
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.ts
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/inclusion-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.css
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/inclusion-filter.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/InclusionFilter.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/filter/InclusionFilterTest.java
Labels: @dashboard, testbed2

#3748 Change to enable replacement of linked datasources
  discovery-frontend/src/app/dashboard/component/create-dashboard/create-board-pop-ds-select.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashBoardService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetService.java
Labels: @dashboard, testbed1

#3750 Support thetaSketch type when adding engine datasource
  discovery-server/src/main/java/app/metatron/discovery/common/datasource/DataType.java
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/Field.java
Labels: @datasource, testbed1

#3751 F#3744 fix grid error
  discovery-frontend/src/app/dashboard/filters/inclusion-filter/configure-filters-inclusion.component.html
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed2
