Repository metatron-app/metatron-discovery, pull requests merged in 2021-09, with the labels that each got.

#3883 remove websocket retry message toast
  discovery-frontend/src/app/common/component/abstract.component.ts
Labels: @common, testbed3

#3885 Added a function to set the reference time type to the relative time filter
  discovery-frontend/src/app/common/component/input/input.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/data-storage/data-source-list/create-data-source/db-create-component/db-complete/db-complete.component.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/time-relative-filter.ts
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRelativeFilter.java
  discovery-server/src/test/java/app/metatron/discovery/domain/datasource/data/DataQueryRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/BoardConfigurationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRelativeFilterTest.java
Labels: @dashboard, testbed3

#3886 Fixed graph display error in chart editing screen
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/page/page-view.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: testbed3, @chart

#3888 Change how the time filter specifies the last date
  discovery-frontend/src/app/common/component/input/input.component.ts
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/component/update-dashboard/datasource-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-select.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/dashboard/dashboard.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/time-relative-filter.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/page/page-view.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: @dashboard, testbed3

#3878 #3871 added terms and skip approval register user
  discovery-frontend/src/app/domain/user/user.ts
  discovery-frontend/src/app/user/login/component/join/join.component.html
  discovery-frontend/src/app/user/login/component/join/join.component.ts
  discovery-frontend/src/app/user/profile/profile.component.html
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/OauthClientInformation.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/User.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/user/UserService.java
  discovery-server/src/main/resources/db/changelog/discovery.changelog-2021.3.xml
  discovery-server/src/main/resources/messages/messages.properties
  discovery-server/src/main/resources/messages/messages_en.properties
  discovery-server/src/main/resources/messages/messages_ko.properties
  discovery-server/src/main/resources/templates/api/oauth/join.html
  discovery-server/src/main/resources/templates/api/static/mobile.css
Labels: testbed1

#3889 Fix config overriding when tuningConfig is null
  discovery-server/src/main/java/app/metatron/discovery/spec/druid/ingestion/tuning/AbstractTuningConfig.java
Labels: @datasource, testbed3

#3890 set latestTime when new relative filter is created
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-relative-filter.component.ts
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed3
