Repository metatron-app/metatron-discovery, pull requests merged in 2021-12, with the labels that each got.

#3939 Chart and legend colors are displayed differently
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/common/component/chart/option/converter/legend-option-converter.ts
Labels: testbed2, @chart

#3940 #3937 When the global filter is modified, a console error occurs and infinite loading occurs.
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashBoardService.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/BoardConfiguration.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/DashBoardRestIntegrationTest.java
  discovery-server/src/test/java/app/metatron/discovery/domain/workbook/configurations/BoardConfigurationTest.java
Labels: @dashboard, testbed1

#3957 #3956 bump up logback to 1.2.9
  discovery-prep-parser/pom.xml
  pom.xml
Labels: testbed1
