Repository metatron-app/metatron-discovery, pull requests merged in 2021-02, with the labels that each got.

#3576 search workspaces by id
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspaceController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workspace/WorkspacePredicate.java
Labels: @workspace, testbed1

#3596 Fix auto measure range calculation error in stacked chart
  discovery-frontend/src/app/common/component/chart/base-chart.ts
Labels: @chart, testbed1

#3603 #3602 change aggregation type of ifcountd to thetaSketch
  discovery-server/src/main/java/app/metatron/discovery/query/druid/aggregations/DistinctSketchAggregation.java
  discovery-server/src/main/java/app/metatron/discovery/query/polaris/ComputationalField.java
Labels: testbed1

#3605 fix chart error where datazoom property does not exist
  discovery-frontend/src/app/common/component/chart/base-chart.ts
Labels: @chart, testbed1
