Repository metatron-app/metatron-discovery, pull requests merged in 2021-07, with the labels that each got.

#3762 #3761 fix script error in presentation view
  discovery-frontend/src/app/common/util/loading.util.ts
  discovery-frontend/src/app/embedded/dashboard/presentation-dashboard.component.ts
Labels: @dashboard, testbed1

#3764 fix table sql in workbench
  discovery-frontend/src/app/workbench/component/detail-workbench/detail-workbench-table/detail-workbench-table.ts
  discovery-frontend/src/app/workbook/workbook.component.html
Labels: @workbench, testbed2

#3766 #3765 fix grid alignment error
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed1

#3771 #3763 hide loading in embedded
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
  discovery-frontend/src/app/embedded/embedded-view.module.ts
Labels: @dashboard, testbed2

#3772 #3767 improved address copy and optional embedded dashboard
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.html
  discovery-frontend/src/app/dashboard/component/selection-filter/selection-filter.component.ts
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.html
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/zh.json
  discovery-frontend/src/assets/images/icon_component_group1.png
  discovery-frontend/src/styles.css
Labels: @dashboard, testbed2

#3778 fix english typo
  discovery-frontend/src/assets/i18n/en.json
Labels: testbed1

#3780 #3768 improved dashboard list scroll
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/workbook/workbook.component.html
  discovery-frontend/src/app/workbook/workbook.component.ts
Labels: @dashboard, testbed2

#3793 fix datasource replacement in dashboard
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/DashBoardController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/BoardConfiguration.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/widget/WidgetService.java
Labels: @dashboard, testbed2

#3770 #3739 single date picker timefilter
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/dashboard-share.module.ts
  discovery-frontend/src/app/dashboard/filters/component/time-date.component.html
  discovery-frontend/src/app/dashboard/filters/component/time-date.component.ts
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.html
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.ts
  discovery-frontend/src/app/dashboard/filters/configure-filters-update.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/configure-filters-time.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-date-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-date-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-filter-panel.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-list-filter.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-range-filter.component.ts
  discovery-frontend/src/app/dashboard/update-dashboard.component.html
  discovery-frontend/src/app/dashboard/update-dashboard.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.html
  discovery-frontend/src/app/dashboard/widgets/filter-widget/filter-widget.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/time-date-filter.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/Filter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeAllFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeListFilter.java
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeSingleFilter.java
Labels: @dashboard, testbed1

#3797 fix error embed dashboard
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
Labels: @dashboard, testbed1

#3796 Fn fix single date filter
  discovery-frontend/src/app/dashboard/component/dashboard-layout/dashboard.layout.component.ts
  discovery-frontend/src/app/dashboard/filters/component/time-date.component.html
  discovery-frontend/src/app/dashboard/filters/component/time-date.component.ts
  discovery-frontend/src/app/dashboard/filters/time-filter/time-date-filter.component.html
  discovery-frontend/src/app/dashboard/filters/time-filter/time-date-filter.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/domain/workbook/configurations/filter/time-date-filter.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/page/page-view.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-server/src/main/java/app/metatron/discovery/domain/workbook/configurations/filter/TimeRangeFilter.java
Labels: @dashboard, testbed2

#3799 remove disable back key event in embed page
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
  discovery-frontend/src/app/embedded/page/embedded-page.component.ts
  discovery-frontend/src/app/meta-data-management/metadata/component/embedded-metadata-detail.component.ts
Labels: testbed1

#3810 Change the minimum size of embed dashboard and fix the prev filter function error
  discovery-frontend/src/app/common/component/chart/base-chart.ts
  discovery-frontend/src/app/dashboard/dashboard.component.html
  discovery-frontend/src/app/dashboard/dashboard.component.ts
  discovery-frontend/src/app/embedded/dashboard/embedded-dashboard.component.ts
  discovery-frontend/src/static/iframe.html
  discovery-frontend/src/styles.css
Labels: @dashboard, testbed1

#3813 #3805 Fixed an error in the selection filter of multi-series line charts
  discovery-frontend/src/app/common/component/chart/type/line-chart.component.ts
Labels: @dashboard, testbed1

#3815 #3811 range filter changed error
  discovery-frontend/src/app/common/component/abstract.component.ts
  discovery-frontend/src/app/dashboard/filters/component/time-range.component.ts
  discovery-frontend/src/app/dashboard/util/filter.util.ts
Labels: @dashboard, testbed2
