Repository metatron-app/metatron-discovery, pull requests merged in 2021-03, with the labels that each got.

#3608 #3604 added grid alignment
  discovery-frontend/angular.json
  discovery-frontend/src/app/common/component/chart/type/grid-chart.component.ts
  discovery-frontend/src/lib/pivot-grid/pivot.grid.js
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
  discovery-frontend/src/lib/pivot-grid/pivot.view.css
Labels: @chart, testbed1

#3620 #3616 add sorting columns for cumulative option
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/ChartResultFormat.java
  discovery-server/src/main/java/app/metatron/discovery/query/druid/queries/GroupByQueryBuilder.java
Labels: testbed1

#3627 #3623 Engine health check notification
  discovery-server/pom.xml
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/common/SlackSender.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/engine/EngineMonitoringJob.java
Labels: @engine-monitoring, testbed1

#3628 Fixed NPE error when searching using period granularity (Include no pivot field)
  discovery-server/src/main/java/app/metatron/discovery/domain/datasource/data/result/PivotResultFormat.java
Labels: testbed1

#3615 #3606 added setting grid column
  discovery-frontend/src/app/common/component/chart/type/grid-chart.component.ts
  discovery-frontend/src/app/domain/workbook/configurations/field/field.ts
  discovery-frontend/src/app/page/chart-style/format-option.component.ts
  discovery-frontend/src/app/page/chart-style/format/abstract-format-item.component.ts
  discovery-frontend/src/app/page/chart-style/format/format-item.component.ts
  discovery-frontend/src/app/page/page-pivot/page-pivot-format.component.html
  discovery-frontend/src/app/page/page-pivot/page-pivot-format.component.ts
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.html
  discovery-frontend/src/app/page/page-pivot/pivot-context.component.ts
  discovery-frontend/src/app/page/page-share.module.ts
  discovery-frontend/src/assets/css/metatron/page.css
  discovery-frontend/src/lib/pivot-grid/pivot.grid.min.js
Labels: @chart, testbed2

#3633 #3632 Add configuration and api for mobile support
  discovery-server/src/main/asciidoc/application-config-guide.adoc
  discovery-server/src/main/java/app/metatron/discovery/config/ApiResourceConfig.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mobile/MobileController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mobile/MobileErrorCodes.java
  discovery-server/src/main/java/app/metatron/discovery/domain/mobile/MobileException.java
  discovery-server/src/main/resources/application.yaml
  discovery-server/src/test/java/app/metatron/discovery/domain/mobile/MobileRestIntegrationTest.java
  discovery-server/src/test/resources/config/mobile-config.properties
  discovery-server/src/test/resources/html/index.html
Labels: testbed2

#3634 fix CCE expired oauth token
  discovery-server/src/main/java/app/metatron/discovery/domain/auth/AuthenticationController.java
  discovery-server/src/main/java/app/metatron/discovery/domain/scheduling/common/OAuthCacheOutJob.java
Labels: @common, need to cherry-pick, testbed2
