Repository metatron-app/metatron-discovery, pull requests merged in 2022-08, with the labels that each got.

#4047 #4044 fix map position when filters are changed
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/dashboard/widgets/page-widget/page-widget.component.ts
  discovery-frontend/src/app/page/page.component.ts
Labels: testbed1, @chart

#4089 Remove token cookie from oauth login process
  discovery-server/src/main/java/app/metatron/discovery/common/web/OauthFilter.java
Labels: @common

#4066 #4048 Adds a tooltip that is always visible on the map chart.
  discovery-frontend/src/app/common/component/chart/option/ui-option.ts
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.html
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/datasource/service/datasource.service.ts
  discovery-frontend/src/app/page/chart-style/map/map-tooltip-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-tooltip-option.component.ts
  discovery-frontend/src/assets/css/metatron.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/ru.json
  discovery-frontend/src/assets/i18n/zh.json
Labels: @chart

#4081 add toggle button in map and check multiple geo field on same layer
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.html
  discovery-frontend/src/app/common/component/chart/type/map-chart/map-chart.component.ts
  discovery-frontend/src/app/page/page-pivot/map/map-page-pivot.component.ts
  discovery-frontend/src/app/page/page.component.ts
  discovery-frontend/src/assets/css/metatron.css
  discovery-frontend/src/assets/i18n/en.json
  discovery-frontend/src/assets/i18n/ko.json
  discovery-frontend/src/assets/i18n/ru.json
Labels: @chart

#4086 Fixed the error that the color setting range value could not be entered
  discovery-frontend/src/app/common/component/select/select.component.ts
  discovery-frontend/src/app/page/chart-style/color-option.component.html
  discovery-frontend/src/app/page/chart-style/map/map-layer-option.component.html
  discovery-frontend/src/app/page/page.component.ts
Labels: @chart
